
<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">    البيانات الأساسية   </h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="row">
            
            <div class="col-md-6">
                <label class="form-label"> السجل التجاري </label>
                <input type="number" class="form-control" [(ngModel)]="request.CommercialRegister" disabled>
                
            </div>
            <div class="col-md-6">
                <label class="form-label"> اسم المصنع  </label>
                <input type="text" class="form-control" [(ngModel)]="request.NameAr" disabled>
                
            </div>
            <div class="col-md-6">
                <label class="form-label">النشاط وفق التصنيف الصناعي الدولي الموحد                                    </label>
                <input type="text" class="form-control" [(ngModel)]="request.Activity" disabled="">
                
            </div>
            <div class="col-md-6">
                <label class="form-label">حالة المصنع </label>
                <select (change)="changeStatus()" class="form-select" [(ngModel)]="request.Status">
                    <option [ngValue]="1">تحت التأسيس </option>
                    <option [ngValue]="2">تحت الإنشاء</option>
                    <option [ngValue]="0">منتج</option>
                    <option [ngValue]="3">متوقف</option>
                    <option [ngValue]="4">ملغي</option>
                </select>
                
            </div>
            
        </div>

        <app-basic-info-file  [factoryId]="factoryId"></app-basic-info-file>
    </div>

    <div class="form-footer">
        <div class="col-12">
            <button (click)="save()" class="btn btn-primary me-1" type="submit">حفظ</button>
            <a [routerLink]="'/pages/factory-landing/'+factoryId"  class="btn btn-danger">الغاء</a>
        </div>
    </div>
   
</section>

