
<section class="form-panel">
    <div class="form-header">
        

        <h2 class="form-title">    البيانات الأساسية لشهر {{PeriodName}}  -عام  {{year}} </h2>
        <div>
            <a [routerLink]="'/pages/factory-landing'" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="row">
            
            <div class="col-md-6">
                <label class="form-label"> السجل التجاري </label>
                <input type="number" class="form-control" [(ngModel)]="request.CommercialRegister" disabled>
                
            </div>
            <div class="col-md-6">
                <label class="form-label"> اسم المصنع  </label>
                <input type="text" class="form-control" [(ngModel)]="request.NameAr" disabled>
                
            </div>
            <div class="col-md-6">
                <label class="form-label">النشاط وفق التصنيف الصناعي الدولي الموحد     </label>
                <input type="text" class="form-control" [(ngModel)]="request.Activity" disabled="">
                
            </div>
            <div class="col-md-6">
                <label class="form-label">حالة المصنع <span class="required">*</span> </label>
                <select (change)="changeStatus()" class="form-select" [(ngModel)]="request.Status" [disabled]="approveStatus">
                    <option [ngValue]="0">منتج</option>
                    <option [ngValue]="1">تحت التأسيس </option>
                    <option [ngValue]="2">متوقف</option>
                    <option [ngValue]="3">تحت الانتاج</option>
                    <option [ngValue]="4">ملغي</option>
                </select>
                
            </div>
            <div class="col-md-12 mt-3">
                <h3> هويات المخولين من المصنع بالإدخال والمراجعة والإعتماد </h3>
                
            </div>
          
        <form [attr.disabled]="approveStatus" [formGroup]="BasicInfoForm" class="row">

            <div for="dataEntryId" class="col-md-4">
                <label class="form-label"> هوية مدخل البيانات (رقم الهوية الوطنية / الإقامة) </label>
                <input [disabled]="approveStatus" type="text" class="form-control"  formControlName="dataEntryId" id="dataEntryId" #DataEntry name="DataEntry" 
                [(ngModel)]="request.DataEntry" >
                  <span  class="text-danger" *ngIf="submitted && (BasicInfoForm.get('dataEntryId')?.errors?.['pattern'] ||BasicInfoForm.get('dataEntryId')?.errors?.['required'] )">
            الرجاء ادخال رقم هوية صحيح [يحتوي على ارقام صحيحة من 10 خانات]   
          </span>
                <!-- <div *ngIf="DataEntry.invalid && (DataEntry.dirty || DataEntry.touched)" class="error-message">
                    <div *ngIf="DataEntry.errors?.pattern">Phone number must start with 1 or 2 and have 10 digits.</div>
                    <div *ngIf="DataEntry.errors?.['required']">Phone number is required.</div>
                </div> -->
           
            </div>
            <div class="col-md-4">
                <label for="dataReviewerId" class="form-label">  هوية مراجع البيانات (رقم الهوية الوطنية/ الإقامة) </label>
                <input [disabled]="approveStatus " type="text" class="form-control" formControlName="dataReviewerId"  id="dataReviewerId"  [(ngModel)]="request.DataReviewer">
                <span  class="text-danger" *ngIf="submitted && (BasicInfoForm.get('dataReviewerId')?.errors?.['pattern']||BasicInfoForm.get('dataReviewerId')?.errors?.['required'])">
            الرجاء ادخال رقم هوية صحيح [يحتوي على ارقام صحيحة من 10 خانات]   
        </span>
            </div>
            <div class="col-md-4">
                <label for="dataApproverId" class="form-label">  هوية معتمد البيانات (رقم الهوية الوطنية/ الإقامة) </label>
                <input [disabled]="approveStatus" type="text" class="form-control" formControlName="dataApproverId" id="dataApproverId"  [(ngModel)]="request.DataApprover">
                <span  class="text-danger" *ngIf="submitted && ( BasicInfoForm.get('dataApproverId')?.errors?.['pattern']||BasicInfoForm.get('dataApproverId')?.errors?.['required'])">
            الرجاء ادخال رقم هوية صحيح [يحتوي على ارقام صحيحة من 10 خانات]   
        </span>
            </div>
        </form> 
       
        </div>
        
        <app-basic-info-file  [factoryId]="factoryId" [periodId]="periodId" (fileStatus)="getFilestatus($event)" ></app-basic-info-file>
        <div class="form-footer">
            <div class="col-12">
                <button (click)="save()" [disabled]="approveStatus" class="btn btn-primary me-1" type="submit">حفظ</button>
                <a [routerLink]="'/pages/factory-landing'"  class="btn btn-danger">الغاء</a>
            </div>
        </div>
    

    </div>

    
   
</section>

