<header>
    <div class="top-bar d-flex align-items-center justify-content-between">
        <p class="app-name m-0"> المسح الصناعي </p>
        

        <a class="dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span> مرحبا : على الأحمد </span><img src="assets/images/admin.png" alt="=avatar" /></a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" routerLink="/Login" > تسجيل خروج </a></li>
        </ul>
    </div>
    <div class="breadcrumb-bar d-flex align-items-center justify-content-between">
        <div>
            <h1 class="page-title">الرئيسية</h1>
            <ul class="d-flex">
                <li>
                    <a routerLink="/pages/factories-list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                            
                            <path d="M46.34,20.52l-21-19a2,2,0,0,0-2.68,0l-21,19a2,2,0,0,0,2.68,3L24,5.7,43.66,23.48a2,2,0,0,0,2.69-3Z" />
                            <path d="M42,26a2,2,0,0,0-2,2V43H32V32a2,2,0,0,0-2-2H18a2,2,0,0,0-2,2V43H8V28a2,2,0,0,0-4,0V45a2,2,0,0,0,2,2H42a2,2,0,0,0,2-2V28A2,2,0,0,0,42,26ZM20,43V34h8v9Z" />
                        </svg>
                    </a>
                </li>
                <li>{{routeTitle}}</li>
            </ul>
        </div>
        <div>
            
            <a href="" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#exampleModal">الشروط والاحكام</a>
        </div>
    </div>
</header>
