<div class="form-panel">
    <div class="form-header">
        <h2 class="form-title">الفترات</h2>
        <div>
            <!-- <a  class="back-link" *ngIf="userRole== 'Inspector'"
            routerLink="/pages/Inspector/factories-list"
            
            >
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path
                        d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
            <a  class="back-link" *ngIf="userRole== 'Investor'"
            routerLink="/pages/factories-list"
            
            >
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path
                        d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a> -->
        </div>
    </div>
    <div class="form-body row">
        <app-list>
            <ng-template #header>
                <th>#</th>
                <th> اسم الفترة </th>
                <th>  تاريخ البدء </th>
                <th> تاريخ الانتهاء</th>                                            
                <th>الحالة</th>                  
                <th style="min-width: 140px">خيارات</th>
            </ng-template>
            <ng-template #body>
              <tr *ngFor="let period of periods.Items let i=index">
                <td *ngIf="InspectorRole &&period.Status=='3' || !InspectorRole">{{i+1}}</td>
                <td *ngIf="InspectorRole &&period.Status=='3' || !InspectorRole">  {{period.PeriodName}}</td>
                <td *ngIf="InspectorRole &&period.Status=='3' || !InspectorRole">  {{period.PeriodStartDate}}</td>
                <td *ngIf="InspectorRole &&period.Status=='3' || !InspectorRole">{{period.PeriodEndDate}}</td>
                <td *ngIf="period.Status=='1' &&  !InspectorRole" class="text-warning">تم الادخال</td>
                <td *ngIf="period.Status=='2' &&  !InspectorRole" class="text-warning">تمت المراجعة</td>
                <td *ngIf="period.Status=='3' &&  !InspectorRole" class="text-success">تم الاعتماد</td>
                <td *ngIf="period.Status=='0' &&  !InspectorRole" class="text-danger">لم يتم الإدخال</td>
                <td *ngIf="InspectorRole &&period.Status=='3' &&!period.InspectorStatus" class="text-danger">لم يتم التدقيق </td>
                <td *ngIf="InspectorRole &&period.Status=='3'&&period.InspectorStatus"  class="text-success">تم التدقيق</td>


                <td *ngIf="InspectorRole &&period.Status=='3' || !InspectorRole">
                    <button  *ngIf="!InspectorRole" (click)="navigateToDetails(period.Id,period.Status)" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#photoModal">
                        عرض
                    </button>
                    <button *ngIf="InspectorRole &&period.Status=='3' &&!period.InspectorStatus"  (click)="navigateToDetailsInspector(period.Id,period.InspectorStatus)" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#photoModal">
                بدء  التدقيق
                    </button>
                    <button *ngIf="InspectorRole &&period.Status=='3'&& period.InspectorStatus"  (click)="navigateToDetailsInspector(period.Id,period.InspectorStatus)" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#photoModal">
                        عرض التدقيق
                    </button>
                </td>

              </tr>
            </ng-template>
          </app-list>
        <app-pagination (changePage)="pageChanged($event)" [pageSize]="periods.PageSize"
        [pageNumber]="periods.PageNumber" [totalCount]="periods.TotalCount"></app-pagination>
    </div>


</div>



