<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> البيانات المالية لعام {{year}}</h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId+'/'+approveStatusText" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">
       
        <form #myForm="ngForm" (ngSubmit)="save()">
            <div class="row" *ngIf="factoryStatus!=1">
                <div class="col-md-12 mt-3">
                    <h3>الايرادات</h3>
                </div>
                <div class="col-md-4">
                    <label class="form-label" placement="left" title=""
                        tooltip="هي إجمالي الأموال التي يحصل عليه المصنع من بيعه للسلع التي ينتجها.">

                        الإيرادات
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>

                    <div class="input-group">

                        <input [disabled]="approveStatus" type="number"  max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  noMinus #Revenues="ngModel" required class="form-control" name="Revenues"
                            [(ngModel)]="request.Revenues"  min="10000" [disabled]="isDisabled" >
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>

                    <div *ngIf="Revenues.invalid && (Revenues.dirty || Revenues.touched)" class="validation-error">
                        <div *ngIf="Revenues.errors?.['required']">الرجاء إدخال الايرادات </div>
                        <div *ngIf="Revenues.errors?.['min']" >الرجاء إدخال رقم أكبر من 10000   </div>
                        <div *ngIf="Revenues.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="Revenues.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-md-12 mt-3">
                    <h3>النفقات</h3>
                </div>
                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات المياه
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number" noMinus #WaterExpenses="ngModel" required class="form-control " min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))" 
                            name="WaterExpenses" [(ngModel)]="request.WaterExpenses"  [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="WaterExpenses.invalid && (WaterExpenses.dirty || WaterExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="WaterExpenses.errors?.['required']">حقل نفقات المياه مطلوب</div>
                        <div *ngIf="WaterExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="WaterExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="WaterExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات الكهرباء
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number" noMinus #ElectricityExpenses="ngModel" required class="form-control " min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))" 
                            name="ElectricityExpenses" [(ngModel)]="request.ElectricityExpenses" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="ElectricityExpenses.invalid && (ElectricityExpenses.dirty || ElectricityExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="ElectricityExpenses.errors?.['required']">حقل نفقات الكهرباء مطلوب</div>
                        <div *ngIf="ElectricityExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="ElectricityExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                      
                          <div *ngIf="ElectricityExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                        </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات الوقود​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div  class="input-group">
                        <input [disabled]="approveStatus" type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   snoMinus #FuelExpenses="ngModel" required class="form-control "
                            name="FuelExpenses" [(ngModel)]="request.FuelExpenses" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="FuelExpenses.invalid && (FuelExpenses.dirty || FuelExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="FuelExpenses.errors?.['required']">حقل نفقات الوقود​ مطلوب</div>
                        <div *ngIf="FuelExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="FuelExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                          <div *ngIf="FuelExpenses.errors?.['pattern']">  الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات المواد الخام​​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  noMinus #RawMterialExpenses="ngModel" required class="form-control "
                            name="RawMterialExpenses" [(ngModel)]="request.RawMterialExpenses" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="RawMterialExpenses.invalid && (RawMterialExpenses.dirty || RawMterialExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="RawMterialExpenses.errors?.['required']">حقل نفقات المواد الخام مطلوب</div>
                        <div *ngIf="RawMterialExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="RawMterialExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                       
                          <div *ngIf="RawMterialExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4" *ngIf="factoryStatus!=1">
                    <label class="form-label" placement="left" title=""
                        tooltip="كل المبالغ التي يتم إنفاقها على الموظف من: الرواتب ونفقات الرعاية الصحية وأجور العمل الإضافي وتكاليف الإجازة المدفوعة و تكاليف نقل العمالة والمزايا الأخرى.">
                        نفقات العمالة ​​​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus #EmploymentExpenses="ngModel" required class="form-control "
                            value="5000" name="EmploymentExpenses" [(ngModel)]="request.EmploymentExpenses" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="EmploymentExpenses.invalid && (EmploymentExpenses.dirty || EmploymentExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="EmploymentExpenses.errors?.['required']">حقل نفقات العمالة مطلوب</div>
                        <div *ngIf="EmploymentExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="EmploymentExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                       
                        <div *ngIf="EmploymentExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title=""
                        tooltip="النفقات التشغيلية هي التكاليف التي يتكبدها العمل في إطار نشاطه اليومي للحفاظ على سير أعماله وتحقيق أهدافه تشمل هذه النفقات تكاليف المواد الخام، والإيجارات، وتكاليف الطاقة، والإعلانات، والصيانة، وغيرها من التكاليف التي ترتبط بالعمليات اليومية للمصنع.">

                        نفقات تشغيلية أخرى​​​​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus #OtherOperatingExpenses="ngModel" required class="form-control "
                            name="OtherOperatingExpenses" [(ngModel)]="request.OtherOperatingExpenses" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="OtherOperatingExpenses.invalid && (OtherOperatingExpenses.dirty || OtherOperatingExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="OtherOperatingExpenses.errors?.['required']">حقل نفقات تشغيلية أخرى مطلوب</div>
                        <div *ngIf="OtherOperatingExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="OtherOperatingExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                       
                          <div *ngIf="OtherOperatingExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>


            </div>
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        إجمالي النفقات التشغيلية​

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number"   step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus class="form-control " name="TotalExpenses"
                            [ngModel]="getTotalExpenses()" disabled min="10000" max="50000000000">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>

                </div>
            </div>
            <div class="row" *ngIf="factoryStatus!=1">

                <div class="col-md-12 mt-3">
                    <h3>الأصول والخصوم</h3>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label class="form-label" placement="left" title=""
                        tooltip="أصول يسهل تحويلها إلى نقد خلال سنة واحدة (12) شهر مثل (النقدية، استثمارات قصيرة المدى، المخزون..أصول أخرى)">

                        الأصول المتداولة
                        <span class="required">*</span>
                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number" min="1" max="100000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus #Assets="ngModel" required class="form-control " name="Assets"
                            [(ngModel)]="request.Assets"  [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="Assets.invalid && (Assets.dirty || Assets.touched)" class="validation-error">
                        <div *ngIf="Assets.errors?.['required']">حقل الأصول المتداولة مطلوب</div>
                        <div *ngIf="Assets.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="Assets.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                       
                    </div>

                </div>

                <div class="col-md-4">

                    <label class="form-label" placement="left" title=""
                        tooltip="أصول وممتلكات لايمكن تحويلها بسهولة إلى نقود وتزيد عن سنة واحدة  وتسمى بالأصول الثابتة مثل ( عقارات وأرضي ومعدات، قروض طويلة الأجل، سندات مستحقة الدفع،.... مطلوبات غير متداولة أخرى)">

                        الأصول غير المتداولة
                        <span class="required">*</span>
                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input  [disabled]="approveStatus" type="number"   min="1"  pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  noMinus #NonCurrentAssets="ngModel" required class="form-control "
                            name="NonCurrentAssets" [(ngModel)]="request.NonCurrentAssets" max="100000000000" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="NonCurrentAssets.invalid && (NonCurrentAssets.dirty || NonCurrentAssets.touched)"
                        class="validation-error">
                        <div *ngIf="NonCurrentAssets.errors?.['required']">حقل الأصول غير المتداولة مطلوب</div>
                        <div *ngIf="NonCurrentAssets.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="NonCurrentAssets.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                       
                          <div *ngIf="NonCurrentAssets.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>
            </div>
            <div class="row" *ngIf="factoryStatus!=1">


                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label class="form-label" placement="left" title=""
                        tooltip="هي التزامات على المصنع ويجب على المصنع سداده خلال سنة (12) شهر">

                        الخصوم المتداولة
                        <span class="required">*</span>
                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input [disabled]="approveStatus" type="number"  min="1"  pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))" noMinus #CurrentLiabilities="ngModel" required class="form-control "
                            name="CurrentLiabilities" [(ngModel)]="request.CurrentLiabilities" max="100000000000" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="CurrentLiabilities.invalid && (CurrentLiabilities.dirty || CurrentLiabilities.touched)"
                        class="validation-error">
                        <div *ngIf="CurrentLiabilities.errors?.['required']">حقل الخصوم المتداولة مطلوب</div>
                        <div *ngIf="CurrentLiabilities.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="CurrentLiabilities.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                       
                        
                          <div *ngIf="CurrentLiabilities.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title=""
                        tooltip="هي التزامات مستحقة الدفع يجب على المصنع سداده لأكثر من سنة ">

                        الخصوم غير المتداولة
                        <span class="required">*</span>
                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number"  min="1"  pattern="[0-9]+([\.,][0-9]{1,3})?" step="1.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  noMinus #NonCurrentLiabilities="ngModel" required class="form-control "
                            name="NonCurrentLiabilities" [(ngModel)]="request.NonCurrentLiabilities" max="100000000000" [disabled]="isDisabled">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="NonCurrentLiabilities.invalid && (NonCurrentLiabilities.dirty || NonCurrentLiabilities.touched)"
                        class="validation-error">
                        <div *ngIf="NonCurrentLiabilities.errors?.['required']">حقل الخصوم غير المتداولة مطلوب</div>
                        <div *ngIf="NonCurrentLiabilities.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="NonCurrentLiabilities.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                    
                          <div *ngIf="NonCurrentLiabilities.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>
            </div>



            <app-financial-file [approveStatus]="approveStatus"  [financialId]="request.Id" (fileStatusFin)="getFilestatus($event)" (fileStatusType)="getFilestatusType($event)"></app-financial-file>



            <div class="form-footer">
                <div class="col-12">
                    <button class="btn btn-primary me-1" [disabled]="myForm.invalid || approveStatus" type="submit">حفظ</button>
                    <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId+'/'+approveStatusText" class="btn btn-danger">الغاء</a>
                </div>
            </div>
        </form>

     
    </div>


</section>