<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> البيانات المالية </h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">

        <div class="row">

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    الإيرادات


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control" name="Revenues" [(ngModel)]="request.Revenues">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات المياه


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="WaterExpenses" [(ngModel)]="request.WaterExpenses">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات الكهرباء


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="ElectricityExpenses" [(ngModel)]="request.ElectricityExpenses">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات الوقود​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="FuelExpenses" [(ngModel)]="request.FuelExpenses">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات المواد الخام​​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="RawMterialExpenses" [(ngModel)]="request.RawMterialExpenses">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات العمالة ​​​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="EmploymentExpenses" [(ngModel)]="request.EmploymentExpenses">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات تشغيلية أخرى​​​​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="OtherOperatingExpenses" [(ngModel)]="request.OtherOperatingExpenses">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    إجمالي النفقات التشغيلية​

                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="TotalExpenses" [(ngModel)]="request.TotalExpenses" disabled>
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>


            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip="ارقام صحية وعشرية، ليست سلبية  ">

                    الأصول المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="Assets" [(ngModel)]="request.Assets">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    الأصول غير المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="NonCurrentAssets" [(ngModel)]="request.NonCurrentAssets">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip="ارقام صحية وعشرية، ليست سلبية  ">

                    الخصوم المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="CurrentLiabilities" [(ngModel)]="request.CurrentLiabilities">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    الخصوم غير المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " name="NonCurrentLiabilities" [(ngModel)]="request.NonCurrentLiabilities">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

        </div>

        <app-financial-file *ngIf="request.Id"  [financialId]="request.Id"></app-financial-file>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" (click)="save()">حفظ</button>
            <a href="" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>