<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> البيانات المالية </h2>
        <div>
            <a routerLink="/pages/factory-landing" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">

        <div class="row">

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    الإيرادات


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات المياه


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات الكهرباء


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات الوقود​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات المواد الخام​​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات العمالة ​​​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    نفقات تشغيلية أخرى​​​​


                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    إجمالي النفقات التشغيلية​

                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="7000000" disabled>
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>


            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip="ارقام صحية وعشرية، ليست سلبية  ">

                    الأصول المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    الأصول غير المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip="ارقام صحية وعشرية، ليست سلبية  ">

                    الخصوم المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

            <div class="col-md-4">
                <label class="form-label" placement="left" title="" tooltip=" ارقام صحية وعشرية، ليست سلبية ">

                    الخصوم غير المتداولة
                    <i>؟</i>
                </label>
                <div class="input-group">
                    <input type="number" class="form-control " placeholder="" value="">
                    <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                        style="max-width: 117px;">
                </div>

            </div>

        </div>


        <div class="col-md-12 mt-3">
            <h3> إرفاق المستندات الداعمة </h3>
        </div>

        <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
            <strong><span class="d-block mb-2">الرجاء إرفاق المستندات الداعمة التالية:</span></strong>
            <ul>
                <li>الإقرار الزكوي <small class="text-danger mx-1">(الزامي)</small></li>

                <li> القوائم المالية <small class="text-danger mx-1">(الزامي)</small></li>



            </ul>
            <p>ملاحظة: ّ نؤكد لكم توخي أقصى درجات السرية والتحفظ في التعامل مع جميع البيانات المالية المقدمة، بما يتوافق
                مع التزامنا باحترام خصوصيتكم وضمان أمن بياناتكم</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>



        <div class="row">


            <div class="col-md-6">
                <label class="form-label"> اسم المستند</label>
                <select name="" id="" class="form-select">
                    <option value="">الإقرار الزكوي </option>
                    <option value="">القوائم المالية</option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="form-label">رفع المستند </label>
                <div class="input-group">
                    <input type="file" class="form-control" placeholder="" value="">
                    <button class="btn btn-primary" type="button">اضافة </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-small-header">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> اسم المستند </th>
                        <th>امتداد المستند</th>
                        <th style="min-width: 140px">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td> الإقرار الزكوي </td>
                        <td>PDF</td>
                        <td>
                            <a href="#" class="btn btn-primary mx-1">
                                تحميل

                            </a>
                            <a href="" class="btn btn-danger">حذف</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit">حفظ</button>
            <a href="" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>