
<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">بيانات المواد الأولية الفعلية <span class="custom-badge">شهري</span> </h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <div class="form-body">

        <div class="col-md-4 mb-4">
            <label class="form-label">إدخال التفاصيل التالية عن المواد الأولية لشهر </label>
            <select class="form-select">
                <option value="" selected>يناير</option>
                <option value="">فبراير</option>
                <option value="" >مارس</option>
            </select>
        </div>
        
       
        <div class="table-responsive">
            <table class="table table-hover table-small-header ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> المادة</th>
                        <th>  كمية المخزون الحالي  بالكيلو جرام</th>
                        <th>  الكمية  المستخدمة بالكيلو جرام</th>
                       
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of x ; let j =index">
                        <td>{{j+1}}</td>
                       
                        <td  hidden> {{material.Id}} </td>
                        <td > {{material.Name}} </td>
                        
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" style="max-width: 117px;" value="{{material.CurrentStockQuantity_KG}}">
                                <select>
                                    <option>اختر</option>
                                    <option selected>طن</option>                                                    
                                    <option>كغ</option>
                                    <option>جرام</option>
                                    <option> لتر</option>
                                </select>
                                <span class="mx-1">=</span>
                                <input type="number" class="form-control" value="10" disabled style="max-width: 117px;" >
                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 40px;">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" value="{{material.UsedQuantity_KG}}" style="max-width: 117px;">
                                <select>
                                    <option>اختر</option>
                                    <option selected>طن</option>                                                    
                                    <option>كغ</option>
                                    <option>جرام</option>
                                    <option> لتر</option>
                                </select>
                                <span class="mx-1">=</span>
                                <input type="number" class="form-control" value="{{material.UsedQuantity_KG}}" disabled style="max-width: 117px;" >
                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 40px;">
                            </div>
                        </td>
                    </tr>
              
                   
                    
                  
                </tbody>
            </table>
        </div>

        <div class="col-md-12 mt-3">
            <h3> زيادة استخدام المواد الأولية عن الإستهلاك الشهري المعتاد     </h3>
        </div>

        <div class="row">
           
            <div class="col-md-6">
                <label class="form-label"> ما هو سبب زيادة  استخدام المواد الأولية عن الاستهلاك الشهري المعتاد؟</label>
                <select class="form-select">
                    <option>شراء معدات جديدة</option>
                    <option>زيادة خطوط الإنتاج</option>
                    <option>زيادة  العمالة</option>
                </select>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <h3> إرفاق المستندات الداعمة  </h3>
        </div>

        <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
            <strong><span class="d-block mb-2">الرجاء إرفاق المستندات الداعمة التالية:</span></strong>
            <ul>
                <li>البيانات المالية المدققة</li>
                
                <li>  سجل الإنتاج </li>
               
                <li>   كمية المبيعات</li>
               
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        

        <div class="row">

        
        <div class="col-md-6">
            <label class="form-label"> اسم المستند</label>
            <select name="" id="" class="form-select">
                <option value="">البيانات المالية المدققة</option>
                <option value="">سجل الإنتاج</option>
                <option value=""> كمية المبيعات</option>
                
            </select>
        </div>

        <div class="col-md-6">
            <label class="form-label">رفع المستند    </label>
            <div class="input-group">
                <input type="file" class="form-control" placeholder="" value=""  (change)="saveFile(files)">
                <button class="btn btn-primary" type="button" (click)="save()">اضافة </button>
            </div>
        </div>
    </div>

        <div class="table-responsive">
            <table class="table table-hover table-small-header">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> اسم المستند </th>
                        <th>امتداد المستند</th>                                            
                        <th style="min-width: 140px">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files let i=index">
                        <td>{{i+1}}</td>
                        <td>  {{file.Name}}</td>
                        <td>  {{file.Type}}</td>
                        <td>JPG</td>
                        <td>
                            <a (click)="getFile(file.AttachmentId)" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#photoModal">
                                عرض
                
                            </a>
                            <a (click)="deleteFile(file.Id)" class="btn btn-danger">حذف</a>
                        </td>
                      </tr>
                    
                </tbody>
            </table>
        </div>
<!-- Modal photos-->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> عرض الصورة </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img [src]="src" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit" (click)="save()">حفظ</button>
            <a href="" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>