<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">بيانات المواد الأولية الفعلية </h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="table-responsive">
            <table class="table table-hover table-small-header ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> المادة</th>
                        <th> كمية المخزون الحالي </th>
                        <th> وحدة القياس</th>
                        <!-- <th> KG </th> -->
                        <th> كمية المخزون الحالي بالكيلو جرام</th>

                        <th> الكمية المستخدمة </th>
                        <th> وحدة القياس</th>
                        <!-- <th>KG</th> -->
                        <th> الكمية المستخدمة بالكيلو جرام</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of x ; let j =index">
                        <td>{{j+1}}</td>

                        <td hidden> {{material.Id}} </td>
                        <td> {{material.Name}} </td>

                        <td>

                            <input type="number" noMinus class="form-control" style="max-width: 117px;"
                                [(ngModel)]="material.CurrentStockQuantity" (change)="onSelectionChange(material)">
                        </td>
                        <td disabled>
                            <select [(ngModel)]="material.StockUnitId" (change)="onSelectionChange(material)" disabled> 
                                <option *ngFor="let item of units" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </td>
                        <!-- <td > {{material.AverageWeightKG}} </td> -->
                        <td>
                            <div class="input-group">
                                <input type="number"  class="form-control" disabled style="max-width: 117px;"
                                    value="{{material.CurrentStockQuantity_KG}}">
                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled
                                    style="max-width: 40px;">
                            </div>
                        </td>
                        <td>

                            <input type="number" noMinus class="form-control" [(ngModel)]="material.UsedQuantity"
                                style="max-width: 117px;" (change)="onSelectionChange(material)">
                        </td>
                        <td>
                            <select [(ngModel)]="material.UsageUnitId" (change)="onSelectionChange(material)" disabled>
                                <option *ngFor="let item of units" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>

                        </td>
                        <!-- <td hidden> {{material.AverageWeightKG}} </td> -->
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" value="{{material.UsedQuantity_KG}}" disabled
                                    style="max-width: 117px;">
                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled
                                    style="max-width: 40px;">
                            </div>
                        </td>
                    </tr>



                     </tbody>
            </table>
            <app-pagination (changePage)="pageChanged($event)" [pageSize]="materials.PageSize" [pageNumber]="materials.PageNumber" [totalCount]="materials.TotalCount"></app-pagination>
             
        </div>
      
<div *ngIf="showInput">
        <div class="col-md-12 mt-3" >
            <h3> زيادة استخدام المواد الأولية عن الإستهلاك الشهري المعتاد </h3>
        </div>

        <div class="row">

            <div class="col-md-6">
                <label class="form-label"> ما هو سبب زيادة استخدام المواد الأولية عن الاستهلاك الشهري المعتاد؟</label>

                <select class="form-select" [(ngModel)]="request.IncreasedUsageReason">
                    <option value="1">شراء معدات جديدة</option>
                    <option value="2">زيادة خطوط الإنتاج</option>
                    <option value="3">زيادة العمالة</option>
                </select>
            </div>
        </div>
    </div>
        <div class="col-md-12 mt-3">
            <h3> إرفاق المستندات الداعمة </h3>
        </div>



        <div class="row">


            <div class="col-md-6">
                <label class="form-label"> اسم المستند</label>
                <input type="text" name="Name" class="form-control" [(ngModel)]="requestFile.Name">

            </div>

            <div class="col-md-6">
                <label class="form-label">رفع المستند </label>
                <div class="input-group">
                    <input type="file" class="form-control" placeholder="" value="" (change)="saveDocs($event)">
                    <button class="btn btn-primary" type="button" (click)="save()">اضافة </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-small-header">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> اسم المستند </th>
                        <th>امتداد المستند</th>
                        <th style="min-width: 140px">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files let i=index">
                        <td>{{i+1}}</td>
                        <td> {{file.Name}}</td>
                        <td> {{file.Path}}</td>

                        <td>

                            <a class="btn btn-primary px-2 py-1 mx-1" type="button" placement="bottom" title=""
                                tooltip=" تحميل الملف " (click)="getFile(file.AttachmentId)"> عرض </a>
                            <a (click)="deleteFile(file.Id)" class="btn btn-danger">حذف</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit" (click)="saveItems()">حفظ</button>
            <a href="" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>