<section class="form-panel">
    <form #actualRawMat="ngForm" (ngSubmit)="saveItems()">

    <div class="form-header">
        <h2 class="form-title"> بيانات المواد الأولية ( المواد الخام) الفعلية لشهر {{PeriodName}}</h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">
       
                <div class="table-responsive">
            <table class="table table-hover table-small-header text-center">
                <thead>
                    <tr>
                        <th>#</th>
                       
                        <th  >  
                            <span class="form-label" placement="left" title=""  tooltip="اسم المادة الاولية (المادة الخام ) التجاري">
                              المادة  
                           
                             <i>؟</i>
                         </span>
                         </th>    

                        <th>  المخزون  الحالي   <span class="required">*</span></th>
                        <th> وحدة القياس</th>
                        <!-- <th> KG </th> -->
                        <th > كمية المخزون الحالي <br/> بالكيلو جرام</th>

                        <th> الكمية المستخدمة  <span class="required">*</span></th>
                        <th> وحدة القياس</th>
                        <!-- <th>KG</th> -->
                        <th > الكمية المستخدمة <br/> بالكيلو جرام</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of x ; let j =index">
                        <td>{{j+1}}</td>

                        <td hidden> {{material.Id}} </td>
                        <td> {{material.Name}} </td>

                        <td>

                            <input type="number" name="CurrentStockQuantity{{j}}" #CurrentStockQuantity="ngModel" min="1" max="1000000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus class="form-control" style="max-width: 117px;"
                                [(ngModel)]="material.CurrentStockQuantity" (change)="onSelectionChange(material)" required>
                                <div *ngIf="CurrentStockQuantity.invalid && (CurrentStockQuantity.dirty || CurrentStockQuantity.touched)"
                                class="validation-error">
                                <div *ngIf="CurrentStockQuantity.errors?.['required']">الرجاء إدخال كمية المخزون الحالي     </div>
                                <div *ngIf="CurrentStockQuantity.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                                <div *ngIf="CurrentStockQuantity.errors?.['max']" >الرجاء إدخال رقم أقل من 1000000000000000   </div>
                                <div *ngIf="CurrentStockQuantity.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>
        
                            </div>
                            </td>
                        <td >
                            <select  name="StockUnit" class="form-select disabled" [(ngModel)]="material.StockUnitId" (change)="onSelectionChange(material)" disabled> 
                                <option *ngFor="let item of units" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </td>
                        <!-- <td > {{material.AverageWeightKG}} </td> -->
                        <td>
                            <div class="input-group">
                                <input name="CurrentStockQuantity_KGN"  type="number"  class="form-control" disabled style="max-width: 117px;"
                                    value="{{material.CurrentStockQuantity_KG}}">
                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled
                                    style="max-width: 40px;">
                            </div>
                        </td>
                        <td>

                            <input  type="number" #materialF="ngModel" name="materialF{{j}}"  min="1" max="1000000000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus class="form-control" [(ngModel)]="material.UsedQuantity"
                                style="max-width: 117px;" (change)="onSelectionChange(material)" required>
                                <div *ngIf="materialF.invalid && (materialF.dirty || materialF.touched)"
                                class="validation-error">
                                <div *ngIf="materialF.errors?.['required']">الرجاء إدخال الكمية المستخدمة    </div>
                                <div *ngIf="materialF.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                                <div *ngIf="materialF.errors?.['max']" >الرجاء إدخال رقم أقل من 1000000000000000   </div>
                                <div *ngIf="materialF.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>
        
                            </div>
                        </td>
                        <td>
                            <select  name="UsageUnitId" class="form-select disabled" [(ngModel)]="material.UsageUnitId" (change)="onSelectionChange(material)" disabled>
                                <option *ngFor="let item of units" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>

                        </td>
                        <!-- <td hidden> {{material.AverageWeightKG}} </td> -->
                        <td>
                            <div class="input-group">
                                <input   name="UsedQuantity_KG" type="number" class="form-control" value="{{material.UsedQuantity_KG}}" disabled
                                    style="max-width: 117px;">
                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled
                                    style="max-width: 40px;">
                            </div>
                        </td>
                    </tr>



                     </tbody>
            </table>
            <!-- <app-pagination (changePage)="pageChanged($event)" [pageSize]="materials.PageSize" [pageNumber]="materials.PageNumber" [totalCount]="materials.TotalCount"></app-pagination> -->
             
        </div>
      
<div *ngIf="showInput">
        <div class="col-md-12 mt-3" >
            <h3> زيادة استخدام المواد الأولية ( المواد الخام) عن الإستهلاك الشهري المعتاد </h3>
        </div>

        <div class="row">

            <div class="col-md-6">
                <label class="form-label"> ما هو سبب زيادة استخدام المواد الأولية ( المواد الخام) عن الاستهلاك الشهري المعتاد؟</label>

                <select  class="form-select"  (change)="setReasonValue($event)">
                    <option *ngFor="let reasonValue of reasonList" [value]="reasonValue.Id" [attr.selected]="((reasonValue.Id ==request.IncreasedUsageReason)==false?null:true)">
                        {{reasonValue.Name}} </option>
                 </select>
            </div>
        </div>
    </div>
        <div class="col-md-12 mt-3">
            <h3>  إرفاق المستندات الداعمة (ان وجدت) </h3>
        </div>



        <div class="row">


         

            <div class="col-md-6">
                <label class="form-label">رفع المستند بصيغة PDF
                    <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
                    </span> 
                </label>
                <div class="input-group">
                    <input type="file" class="form-control" accept=".pdf" placeholder="" value="" (change)="saveDocs($event)">
                    <button  class="btn btn-primary" type="button" (click)="save()">اضافة </button>
                </div>
                <div *ngIf="fileError" class="validation-error text-center">{{ fileError }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-small-header">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>امتداد المستند</th>
                        <th style="min-width: 140px">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files let i=index">
                        <td>{{i+1}}</td>
                        <td>{{file.Type}} {{file.Extension}}</td>

                        <td>

                            <a class="btn btn-primary px-2 py-1 mx-1" type="button" placement="bottom" title=""
                                tooltip=" تحميل الملف " (click)="getFile(file.AttachmentId)"> عرض </a>
                            <a (click)="deleteFile(file.Id)" class="btn btn-danger">حذف</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" [disabled]="actualRawMat.invalid" type="submit">حفظ</button>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId"  class="btn btn-danger">الغاء</a>
        </div>
    </div>
</form>
</section>