<div class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> زياراتي</h2>
    </div>
    <div class="form-body">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">  اسم المصنع</label>
                <select class="form-select">
                    <option> مصنع 1 </option>
                    <option> مصنع 2 </option>
                    <option> مصنع 3 </option>
                    <option> مصنع 4 </option>
                    <option> مصنع 5 </option>
                                                         
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">  السجل التجاري</label>
                <select class="form-select">
                    <option> 123456789</option>
                    <option> 123456789</option>
                    <option> 123456789</option>
                    <option> 123456789</option>
                    <option> 123456789</option>                                 
                                                         
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" style="margin-top: 32px;">عرض</button>
            </div>
        </div>

        <ul class="d-flex license p-0 row mt-4">
            <li class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="license-container">
                   
                        <div class="license-info">
                            <div>
                                <p>
                                    <span class="fw-bold m-1">اسم المصنع :</span>
                                    <span>مصنع المواد الغذائية</span>
                                </p>
                              
                                <p>
                                    <span class="fw-bold m-1">السجل التجاري:</span>
                                    <span>123456789</span>
                                </p>
                                
                            </div>
                            <div><img src="assets/images/logo-min.png" alt="" /></div>
                        </div>
                        <div class="license-footer justify-content-center">
                            <a href="#" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#detailsModal">تفاصيل</a>
                            <a routerLink="/visit-landing" class="btn btn-primary">بدء الزيارة</a>
                        </div>
                   
                </div>
            </li>
            <li class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="license-container">
                   
                        <div class="license-info">
                            <div>
                                <p>
                                    <span class="fw-bold m-1">اسم المصنع :</span>
                                    <span>مصنع  الأعمال الخذفية</span>
                                </p>
                              
                                <p>
                                    <span class="fw-bold m-1">السجل التجاري:</span>
                                    <span>123456789</span>
                                </p>
                                
                            </div>
                            <div><img src="assets/images/logo-min.png" alt="" /></div>
                        </div>
                        <div class="license-footer justify-content-center">
                            <a href="#" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#detailsModal">تفاصيل</a>
                            <a routerLink="/visit-landing" class="btn btn-primary">بدء الزيارة</a>
                        </div>
                   
                </div>
            </li>
            <li class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="license-container">
                   
                        <div class="license-info">
                            <div>
                                <p>
                                    <span class="fw-bold m-1">اسم المصنع :</span>
                                    <span>مصنع  الصناعات الثقيلة</span>
                                </p>
                              
                                <p>
                                    <span class="fw-bold m-1">السجل التجاري:</span>
                                    <span>123456789</span>
                                </p>
                                
                            </div>
                            <div><img src="assets/images/logo-min.png" alt="" /></div>
                        </div>
                        <div class="license-footer justify-content-center">
                            <a href="#" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#detailsModal">تفاصيل</a>
                            <a routerLink="/visit-landing" class="btn btn-primary">بدء الزيارة</a>
                        </div>
                   
                </div>
            </li>
            
            
            
        </ul>
        
    </div>
</div>