<div class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> زياراتي</h2>
    </div>
    <div class="form-body">
        <!-- <div class="row">
            <div class="col-md-4">
                <label class="form-label">  اسم المصنع</label>
                <select class="form-select">
                    <option> مصنع 1 </option>
                    <option> مصنع 2 </option>
                    <option> مصنع 3 </option>
                    <option> مصنع 4 </option>
                    <option> مصنع 5 </option>
                                                         
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">  السجل التجاري</label>
                <select class="form-select">
                    <option> 123456789</option>
                    <option> 123456789</option>
                    <option> 123456789</option>
                    <option> 123456789</option>
                    <option> 123456789</option>                                 
                                                         
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" style="margin-top: 32px;">عرض</button>
            </div>
        </div> -->

        <ul class="d-flex license p-0 row mt-4">
            <li class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let factory of factories">
                <div class="license-container">

                    <div class="license-info">
                        <div>
                            <p>
                                <span class="fw-bold m-1">اسم المصنع :</span>
                                <span>{{factory.FactoryName}}</span>
                            </p>

                            <p>
                                <span class="fw-bold m-1">السجل التجاري:</span>
                                <span>{{factory.CommerialNumber}}</span>
                            </p>

                        </div>
                        <div><img src="assets/images/logo-min.png" alt="" /></div>
                    </div>
                    <div class="license-footer justify-content-center">
                        <a href="#" class="btn btn-primary mx-2" data-bs-toggle="modal"
                            data-bs-target="#detailsModal" >تفاصيل</a>
                        <a [routerLink]="'/pages/period/'+factory.FactoryId" class="btn btn-primary">بدء الزيارة</a>
                    </div>

                </div>
            </li>




        </ul>

    </div>
</div>
<!-- Modal details-->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تفاصيل</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <h3>تفاصيل</h3>
                </div>
                <div class="row">
                    <!-- <div class="col-md-6">
                        <label for="" class="form-label">رقم المصنع</label>
                        <input type="text" class="form-control" [(ngModel)]="inspector.Name" disabled />
                    </div> -->
                    <!-- <div class="col-md-6">
                        <label for="" class="form-label">رقم الهاتف</label>
                        <input type="text" class="form-control" [(ngModel)]="inspector.Name" disabled />
                    </div> -->

                
                <!-- <div class="col-md-6">
                    <label for="" class="form-label">البريد الالكتروني</label>
                    <input type="text" class="form-control" [(ngModel)]="inspector.Name" disabled />
                </div> -->

          
            <!-- <div class="col-md-6">
                <label for="" class="form-label">المدينة</label>
                <input type="text" class="form-control" [(ngModel)]="factory.CityName" disabled />
            </div> -->
            <!-- <div class="col-md-6">
                <label for="" class="form-label">عنوان المصنع</label>
                <input type="text" class="form-control" [(ngModel)]="inspector.Name" disabled />
            </div>  -->
        </div>
        </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            اغلاق
        </button>
    </div>
</div>
    </div>
    
</div>