
    <form #productForm="ngForm" (ngSubmit)="save()" class="row">

    <div *ngIf="productId==0" class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
        في حال عدم وجود اسم المنتج المراد اضافته ضمن القائمة الخاصة بإسم المنتج حسب البند الجمركي على المستوى 12 ، الرجاء التواصل مع الجهة المختصة بوزارة الصناعة ورفع طلب بذلك .
    </div>

    <div class="col-md-6" *ngIf="productId!=0 || this.pId!=0">
        <label class="form-label"> اسم المنتج (حسب البند الجمركي على مستوى 12)<span class="required">*</span></label>
        <input disabled  type="text" name="ProductName" class="form-control"  [(ngModel)]="request.ProductName">
      </div>


      <div class="col-md-6" *ngIf="productId==0 && this.pId==0">
        <label for="" class="form-label"> اسم المنتج (حسب البند الجمركي على مستوى 12)<span class="required">*</span></label>
        <ng-multiselect-dropdown
         [placeholder]="'أختر'" 
         (keyup)="onSearch($event)"
         [settings]="dropdownSettings"
         [data]="products"
         [(ngModel)]="selectProductId"
         (onSelect)="productChanage($event)"
         >
        </ng-multiselect-dropdown>
    </div>
    
    <div class="col-md-6">
        <label class="form-label" tooltip="الاسم المتداول في السوق "> 
            	اسم المنتج التجاري 
                <span  class="required">*</span>
            <i>؟</i>
        </label>
        <div class="input-group">
        <input  type="text" #CommericalName="ngModel" name="CommericalName" class="form-control"  [(ngModel)]="request.CommericalName" required="">
          </div>
        <div *ngIf="CommericalName.invalid && (CommericalName.dirty || CommericalName.touched)"
        class="validation-error">
        <div *ngIf="CommericalName.errors?.['required']">الرجاء إدخال إسم المنتج التجاري</div>
    </div>
    </div>
    
    <div class="col-md-6">
        <label class="form-label" >وحدة القياس </label>
        <select name="Type" id="UnitId" disabled [(ngModel)]="request.UnitId"  class="form-select">
            <option *ngFor="let unit of units" [ngValue]="unit.Id">{{unit.Name}}</option>
        </select>
    </div>
    <div class="col-md-6">
        
        <label class="form-label" tooltip="يتم كتابة الوزن المقابل لوحدة القياس المحددة(الحقل السابق) للمنتج بالكيلوجرام مثال : في حال كانت وحدة قياس المنتج هي الطن يتم كتابة القيمة 1000 في حقل الوزن المقابل بالكيلوجرام" placement="left">
           
            الوزن المقابل​ بالكيلوجرام لكل وحدة​ 
               <span  class="required">*</span>
            <i>؟</i>
        </label>
        <div class="input-group">
        <input  type="number" min="0" max="100000" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" step="1" 
         [disabled]="isDisabled" #Kilograms_Per_Unit="ngModel" name="Kilograms_Per_Unit" class="form-control"  [(ngModel)]="request.Kilograms_Per_Unit" required>
    </div>
    <div *ngIf="Kilograms_Per_Unit.invalid && (Kilograms_Per_Unit.dirty || Kilograms_Per_Unit.touched)"
    class="validation-error">
    <div *ngIf="Kilograms_Per_Unit.errors?.['required']">الرجاء إدخال الوزن المقابل بالكيلوجرام  </div>
    <div *ngIf="Kilograms_Per_Unit.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
    <div *ngIf="Kilograms_Per_Unit.errors?.['max']" >الرجاء إدخال رقم أقل من 100000   </div>

    <div *ngIf="Kilograms_Per_Unit.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

</div>

       
    </div>
    <div class="col-md-6">
        <label class="form-label">صورة المنتج  بصيغة jpeg , jpg , png , pdf (ان وجدت) 
            <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
            </span> 
           </label>
        <div class="input-group">
            <input type="file" #fileInputPhoto  accept=".png, .jpg, .jpeg, .pdf"  class="form-control" placeholder="" value="" (change)="savePhoto($event)">
           
        </div>
        <div *ngIf="fileErrorPhoto" class="validation-error">{{ fileErrorPhoto }}</div>
    </div>
    <div class="col-md-6">
        <label class="form-label" tooltip="إرفاق ورقة البيانات أو دليل/ معايير البيانات إن وجدت"> ورقة البيانات بصيغة pdf (ان وجدت) 
            <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
        </span> 
            <i>؟</i></label>
        <div class="input-group">
            <input type="file" #fileInputPaper  accept=".pdf" class="form-control" placeholder="" value="" (change)="savePaper($event)">
         
        </div>
        <div *ngIf="fileError" class="validation-error">{{ fileError }}</div>
    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary me-1" [disabled]="productForm.invalid" type="submit">حفظ</button>

    </div>
    </form>
   