<div class="col-md-12">
    <h3> المستندات المتعلقة بالبيانات الأساسية للمصنع </h3>
</div>

<div class="table-responsive">
    <table class="table table-hover table-small-header">
        <thead>
            <tr>
                <th>#</th>
                <th> نوع المستند </th>
                <th>امتداد المستند</th>                                            
                <th style="min-width: 140px">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files let i=index">
                <td>{{i+1}}</td>
                <td>  {{file.Type}}</td>
                <td>{{file.Extension}}</td>
                <td>
                    <a (click)="getFile(file.AttachmentId)" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#photoModal">
                        عرض
        
                    </a>
                 </td>
              </tr>
            
            
        </tbody>
    </table>
</div>
<div class="col-md-12">
    <h3> رفع مستندات اخرى  </h3>
</div>
<form #myForm="ngForm" (ngSubmit)="save()">

<div class="row">

  
    <div class="col-md-6">
        <label class="form-label" > نوع المستند</label>
        <select [disabled]="inspectorApproved" name="Type" #Type="ngModel" required  id="Type" [(ngModel)]="request.Type" class="form-select"  >
            <option [ngValue]="0" selected>صورة واجهة المصنع</option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label">رفع المستند بصيغة jpeg , jpg , png , pdf 
            <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
            </span>  
         </label>
         <div class="input-group">
            <input  [disabled]="inspectorApproved"   type="file" #fileInput  accept=".png, .jpg, .jpeg, .pdf" class="form-control" placeholder="" value="" (change)="saveFile($event)">
           
            <button  [disabled]="inspectorApproved"  class="btn btn-primary" type="submit" >اضافة </button>
        </div>
        <div *ngIf="fileError" class="validation-error text-center">{{ fileError }}</div>

        
    </div>

</div>
</form>

<div class="table-responsive">
    <table class="table table-hover table-small-header">
        <thead>
            <tr>
                <th>#</th>
                <th> نوع المستند </th>
                <th>امتداد المستند</th>                                            
                <th style="min-width: 140px">خيارات</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let file of Inspectorsfiles let i=index">
                <td>{{i+1}}</td>
                <td>  {{file.Type}}</td>
                <td>{{file.Extension}}</td>
                <td>
                    <a (click)="getFile(file.AttachmentId)" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#photoModal">
                        عرض
        
                    </a>
                    <button [disabled]="inspectorApproved" (click)="deleteFile(file.Id)" class="btn btn-danger">حذف</button>
                </td>
              </tr>
        </tbody>
    </table>
</div>

<!-- Modal photos-->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> عرض الصورة </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center">
        <img [src]="src" alt="" class="img-fluid">
    </div>
</div>
</div>
</div>