<div class="col-md-12 mt-3">
    <h3> إرفاق المستندات الداعمة </h3>
</div>

<div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
    <strong><span class="d-block mb-2">الرجاء إرفاق المستندات الداعمة التالية:</span></strong>
    <ul>
        <!-- <li>العنوان الوطني للمصنع</li> -->

        <li> صورة مدخل المصنع <small class="text-danger mx-1">(الزامي)</small></li>

        <!-- <li>   فاتورة الماء أو الكهرباء </li> -->

    </ul>
 </div>

<div class="row"> 



    <div class="col-md-6">
        <label class="form-label"> نوع المستند <span class="required">*</span></label>
        <select [disabled]="approveStatus" name="Type" #Type="ngModel" required id="Type" [(ngModel)]="request.Type" class="form-select">
            <option [ngValue]="1" >صورة مَدخل المصنع </option>
        </select>
       

    </div>

    <div class="col-md-6">
        
        <label class="form-label">  رفع المستند بصيغة jpeg , jpg , png , pdf 
            <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
            </span> 
             <span class="required">*</span></label>
        <div class="input-group">
            <input [disabled]="approveStatus" type="file"  #fileInputLoc name="fileN"  accept=".png, .jpg, .jpeg, .pdf" class="form-control" placeholder="" value="" (change)="saveFile($event)">
            <button  [disabled]="fileError ||approveStatus"  class="btn btn-primary" type="button" (click)="save()">اضافة </button>
        </div>
    
    <div *ngIf="fileError" class="text-center">
      <div class="validation-error">
        {{ fileError }}
    </div>
    </div>
    </div>
</div>


<app-list>
    <ng-template #header>
        <th>#</th>
        <th> نوع المستند </th>
        <th>امتداد المستند</th>
        <th style="min-width: 140px">خيارات</th>
    </ng-template>
    <ng-template #body>
        <tr *ngFor="let file of files let i=index">
            <td>{{i+1}}</td>
            <td> {{file.Type}}</td>
            <td>{{file.Extension}}</td>
            <td>
                <a  name="AttachmentIdFileN" (click)="getFile(file.AttachmentId)" class="btn btn-primary mx-1" data-bs-toggle="modal"
                    data-bs-target="#photoModal">
                    عرض

                </a>
                <button type="button" [disabled]="approveStatus"  name="deleteFileN"
                 (click)="deleteFile(file.Id)" class="btn btn-danger">حذف</button>
            </td>
        </tr>
    </ng-template>
</app-list>


<!-- Modal photos-->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> عرض الصورة </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img name="image" [src]="src" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>