<section class="form-panel">
  <div class="form-header">
    <h2 class="form-title">بيانات المنتجات  لشهر {{PeriodName}}  -عام  {{year}} </h2>
    <div>
      <a [routerLink]="'/pages/factory-landing'" class="back-link">
        رجوع
        <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h48v48h-48z" fill="none"></path>
          <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666">
          </path>
        </svg>
      </a>
    </div>
  </div>
  <div class="form-body">
    <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
      <P>
        يتم إضافة البيانات المطلوبة و الخاصة بالمنتجات من خلال الضغط على خيار تعديل (الموجود بجانب كل منتج) و ملء الحقول بالصورة الصحيحة و من ثم الضغط على خيار حفظ الموجود في نافذة تعديل بيانات المنتجات. 
      </div>
    <app-list>
      <ng-template #header>
        <th>#</th>
        <th>
          اسم المنتج (حسب البند الجمركي على مستوى 12)

        </th>
        <th>
          <span class="has-des" tooltip="الاسم المتداول في السوق " placement="left">
            اسم المنتج التجاري 
            <i>؟</i>
          </span>
        </th>
        <th>
          <span class="has-des" placement="left" title="" tooltip="شرح الحقل">
            وحدة القياس </span>
        </th>
        <th>
          <span class="form-label" tooltip="يتم كتابة الوزن المقابل لوحدة القياس المحددة(الحقل السابق) للمنتج بالكيلوجرام مثال : في حال كانت وحدة قياس المنتج هي الطن يتم كتابة القيمة 1000 في حقل الوزن المقابل بالكيلوجرام" placement="left">
           
            الوزن المقابل​ بالكيلوغرام لكل وحدة​ 
            
            <i>؟</i>
          </span>
        
        </th>
        <th>عرض صورة المنتج </th>
        <th>
          <span class="has-des" placement="top" title="" tooltip="إرفاق ورقة البيانات أو دليل/ معايير البيانات إن وجدت">
         عرض ورقة البيانات <i>؟</i></span>
        </th>
        <th> </th>
        <th> </th>
      </ng-template>
      <ng-template #body>
        <tr *ngFor="let product of productsAdded let i=index">
          <td>{{i+1}}</td>
          <td>{{product.Hs12NameAr}}({{product.Hs12Code}})</td>
          <td>
            {{product.CommericalName}}
          </td>
          <td>
            {{product.UnitName}}
          </td>
          <td>
            {{product.Kilograms_Per_Unit}}
          </td>
          <td>
            <button class="btn btn-primary px-2 py-1 mx-1" type="button" placement="bottom" title=""
              tooltip=" عرض الصورة " (click)="getFile(product.PhototId)">
              <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M8 22.0002H16C18.8284 22.0002 20.2426 22.0002 21.1213 21.1215C22 20.2429 22 18.8286 22 16.0002V15.0002C22 12.1718 22 10.7576 21.1213 9.8789C20.3529 9.11051 19.175 9.01406 17 9.00195M7 9.00195C4.82497 9.01406 3.64706 9.11051 2.87868 9.87889C2 10.7576 2 12.1718 2 15.0002L2 16.0002C2 18.8286 2 20.2429 2.87868 21.1215C3.17848 21.4213 3.54062 21.6188 4 21.749"
                    stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path>
                  <path d="M12 2L12 15M12 15L9 11.5M12 15L15 11.5" stroke="#ffffff" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
            </button>
          </td>
          <td>
            <button class="btn btn-primary px-2 py-1 mx-1" type="button" placement="bottom" title=""
              tooltip=" عرض الملف " (click)="getFile(product.PeperId)">
              <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M8 22.0002H16C18.8284 22.0002 20.2426 22.0002 21.1213 21.1215C22 20.2429 22 18.8286 22 16.0002V15.0002C22 12.1718 22 10.7576 21.1213 9.8789C20.3529 9.11051 19.175 9.01406 17 9.00195M7 9.00195C4.82497 9.01406 3.64706 9.11051 2.87868 9.87889C2 10.7576 2 12.1718 2 15.0002L2 16.0002C2 18.8286 2 20.2429 2.87868 21.1215C3.17848 21.4213 3.54062 21.6188 4 21.749"
                    stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path>
                  <path d="M12 2L12 15M12 15L9 11.5M12 15L15 11.5" stroke="#ffffff" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
            </button>
          </td>
          <td>
            <button [disabled]="approveStatus" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct"
              (click)="edit(product.Id,product.ProductId)">
              تعديل
            </button>

          </td>
          <td>
            <button [disabled]="approveStatus" class="btn btn-danger"  
                            (click)="delete(product.Id)">حذف  </button>
          </td>
        </tr>
        
      </ng-template>
      
    </app-list>
    <app-pagination (changePage)="pageChanged($event)" [pageSize]="products.PageSize" [pageNumber]="products.PageNumber"
      [totalCount]="products.TotalCount"></app-pagination>
    <div class="row">
      <div class="col-md-4">
        <label class="form-label" placement="left">هل لديك منتجات جديدة تريد إضافتها؟
         
        </label>

        <select [disabled]="approveStatus" class="form-select if-yes" (change)="handleSelectChange($event)">
          <option value="yes">نعم</option>
          <option value="no" selected>لا</option>
        </select>
      </div>
      <div class="col-md-4 show-input" [ngClass]="{ 'd-none': !showInput }">
        <label class="form-label"> <br/></label>
        <div class="form-group">
          <button [disabled]="approveStatus" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct" (click)="edit(0,0)">
            إضافة منتج
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="form-footer">
    <div class="col-12">
      <button [disabled]="approveStatus" class="btn btn-primary me-1" type="submit" (click)="save()">حفظ</button>
      <a [routerLink]="'/pages/factory-landing'" class="btn btn-danger">الغاء</a>
    </div>
  </div>
</section>




<!-- Modal Add Product-->
<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalLable}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal
          (click)="closePopUp()"></button>
      </div>
      <div class="modal-body">
        <app-product-form *ngIf="productId!=undefined && pId!=undefined" [periodId]="periodId" [productId]="productId" [pId]="pId"
          [factoryId]="factoryId" (close)="closePopUp()"></app-product-form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
bdColor="rgba(0, 0, 0, 0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
[fullScreen]="true"
name="productsDelete">
<p style="color: white" >  جاري حفط التعديلات  </p>
</ngx-spinner>  