<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">بيانات كمية الإنتاج الفعلي والطاقة التصميمية  لشهر {{PeriodName}}  -عام {{year}} 

           <!-- <span class="custom-badge">شهري</span> -->
          </h2>
        <div>
            <a [routerLink]="'/pages/factory-landing'" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <div class="form-body">
      <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
        <P>
          يتم إضافة البيانات المطلوبة و الخاصة بالمنتجات من خلال الضغط على خيار تعديل و ملء الحقول بالصورة الصحيحة و من ثم الضغط على خيار حفظ الموجود في نافذة التعديل، بعدها يتم الضغط على خيار حفظ الموجود اسفل الشاشة. </div>
        <app-list>
            <ng-template #header>
                <th>#</th> 
                <th>إسم المنتج (رقم البند الجمركي على مستوى12 )</th>
                <th> الطاقة التصميمة(القصوى)​</th>
                <th *ngIf="factoryStatus!=3">الإنتاج الفعلي​</th>
                <th *ngIf="factoryStatus!=3"></th>
                <th *ngIf="factoryStatus!=3"> وزن الإنتاج الفعلي​ </th>
                <th></th>
            </ng-template>
            <ng-template #body>
              <tr *ngFor="let product of products.Items let i=index">
                <td >{{i+1}}</td>
                <td>{{product.ProductName}})</td>
                
                <td>
                    {{product.DesignedCapacity !=null? product.DesignedCapacity +" "+ product.DesignedCapacityUnitName:""}}
                </td>
                <td *ngIf="factoryStatus!=3">
                    {{product.DesignedCapacity !=null?product.ActualProduction +" "+ product.ActualProductionUintName:""}}
                </td>
                <td *ngIf="factoryStatus!=3"> {{product.DesignedCapacity !=0?'=':''}}</td>
                <td *ngIf="factoryStatus!=3">
                    {{product.ActualProductionWeight !=null&&product.ActualProductionWeight>0?product.ActualProductionWeight + " كغ ":""}}
                </td>
                <td>
                    <button [disabled]="approveStatus||product.Kilograms_Per_Unit==0"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#addProduct" 
                      (click)="edit(product.Id,product.FactoryProductId,product.Id)"
                    >
                      تعديل
                    </button>
                  </td>
              </tr>
            </ng-template>
        </app-list>
        <app-pagination  (changePage)="pageChanged($event)" [pageSize]="products.PageSize" [pageNumber]="products.PageNumber" [totalCount]="products.TotalCount"></app-pagination>
       <div *ngIf="showReason">
        <app-reason *ngIf="factoryStatus!=3" [periodId]="periodId" [factoryId]="factoryId"></app-reason>
      
       </div>
    </div>
    <div class="form-footer">
      <div class="col-12">
          <button [disabled]="approveStatus"  class="btn btn-primary me-1" type="submit" (click)="save()">حفظ</button>
          <a [routerLink]="'/pages/factory-landing'"  class="btn btn-danger">الغاء</a>
      </div>
  </div>
</section>

<!-- Modal Add Product-->
<div
class="modal fade"
id="addProduct"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div
  class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">تعديل منتج</h5>
      <button [disabled]="approveStatus" 
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        #closeModal 
        (click)="closePopUp()"
      ></button>
    </div>
    <div class="modal-body">
      <app-actual-production-form 
       *ngIf="productId!=undefined && actualproductId!=undefined" 
       [productId]="productId" 
       [factoryStatus]="factoryStatus" 
       [actualCapacityProductId]="actualCapacityProductId"
       [actualproductId]="actualproductId"
       [factoryId]="factoryId" 
       [periodId]="periodId" 
       (close)="closePopUp()"
       ></app-actual-production-form>
    </div>
  </div>
</div>
</div>