<section class="user-area" >
    <div class="login d-flex flex-column align-items-center justify-content-center" @fade>
        <header class="text-center">
            <a href=""><img src="assets/images/login-logo.png" width="300" height="86" alt="وزارة الصناعة والثروة المعدنية" /></a>
            <h1>مرحبا بكم فى <br />نظام مسح وجمع بيانات المنشآت الصناعية</h1>
        </header>
        <div class="login-form">
            
               
                <!--<div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingInput" placeholder="   الهوية الوطنية" name="userId" [(ngModel)]="request.userId" required />
                    <label for="floatingInput"> الهوية الوطنية  </label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="كلمة المرور" name="password" [(ngModel)]="request.password" required />
                    <label for="floatingPassword">كلمة المرور</label>
                </div>-->
                <div class="d-grid mb-6">
                    <button class="btn btn-primary login-btn" (click)="login()">تسجيل الدخول عبر نفاذ</button>
                </div>
           
            <!--<div class="separator"></div>
            <div class="form-footer text-center">
                <a routerLink="/recover-password" class="center-hover"> نسيت كلمة المرور ؟</a>
                
            </div>-->
        </div>
        <footer class="text-center">جميع الحقوق محفوظة لنظام مسح وجمع بيانات المنشآت الصناعية</footer>
    </div>
</section>