<section class="user-area" >
    <div class="login d-flex flex-column align-items-center justify-content-center" @fade>
        <header class="text-center">
            <a href=""><img src="assets/images/login-logo.png" width="300" height="86" alt="وزارة الصناعة والثروة المعدنية" /></a>
            <h1>مرحبا بكم فى <br />نظام مسح وجمع بيانات المنشآت الصناعية</h1>
        </header>
        <div class="breadcrumb-bar d-flex align-items-center justify-content-between">
           

                <table class="table table-hover table-small-header">
                <tr>
                    <td >
                        
                    <button class="btn btn-default" (click)="Investor()">المستثمرين</button>
                    </td>

                <!--
                <td>
                    <button class="btn btn-default" (click)="Inspector()">المدققين</button>
                </td>
                <td>
                    <button class="btn btn-default" (click)="Admin()">مدير النظام</button>
                    </td>
                    -->
                </tr>
            </table>
          
        </div>
        <footer class="text-center">جميع الحقوق محفوظة لنظام مسح وجمع بيانات المنشآت الصناعية</footer>
    </div>
</section>