<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">      التحقق من صحة البند الجمركي على مستوى 12</h2>
        <div>
            <a routerLink="/pages/factory-landing" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <div class="form-body">
        
       
        <div>
            <table class="table table-hover table-small-header table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> المنتجات المسجلة في الترخيص الصناعي بالتصنيف الجمركي على مستوى 10</th>
                        <th> المنتجات المسجلة في الترخيص بعد تحويلها الى مستوى 12</th>
                        <th> صحة التصنيف الجمركي على مستوى 12</th>
                        <th>خيارات</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>المنتج  1 (رقم البند الجمركي على مستوى 10 )</td>
                        
                        <td>
                            المنتج  1 (رقم البند الجمركي على مستوى 12 )
                           
                        </td>
                        <td>

                            <span class="badge alert-danger px-3 py-2">
                                غير صحيح
                              </span>
                            
                            
                        </td>
                        <td>
                            <a href="" class="btn btn-primary small" data-bs-toggle="modal" data-bs-target="#codeSearch">اختر التصنيف المناسب  </a>
                        </td>
                       
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>المنتج  2 (رقم البند الجمركي على مستوى 10 )</td>

                        
                        <td>
                            المنتج  2 (رقم البند الجمركي على مستوى 12 )
                           
                        </td>
                        <td>
                            <span class="badge alert-danger px-3 py-2">
                                غير صحيح
                              </span>
                            
                        </td>
                        <td>
                            <a href="" class="btn btn-primary small" data-bs-toggle="modal" data-bs-target="#codeSearch">اختر التصنيف المناسب  </a>
                        </td>
                       
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>المنتج  3 (رقم البند الجمركي على مستوى 10 )</td>
                        
                        <td>
                            المنتج  3 (رقم البند الجمركي على مستوى 12 )
                           
                        </td>
                        <td>
                            <span class="badge alert-success px-3 py-2">
                                 صحيح
                              </span>
                            
                        </td>
                        <td></td>
                       
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>المنتج  4 (رقم البند الجمركي على مستوى 10 )</td>
                        
                        <td>
                            المنتج  4 (رقم البند الجمركي على مستوى 12 )
                           
                        </td>
                        <td>
                            <span class="badge alert-success px-3 py-2">
                                 صحيح
                              </span>
                            
                        </td>
                        <td></td>
                       
                        
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>المنتج  5 (رقم البند الجمركي على مستوى 10 )</td>
                        
                        <td>
                            المنتج  5 (رقم البند الجمركي على مستوى 12 )
                           
                        </td>
                        <td>
                            <span class="badge alert-success px-3 py-2">
                                 صحيح
                              </span>
                            
                        </td>
                        <td></td>
                       
                        
                    </tr>
                    
                   
                   
                </tbody>
            </table>

            <nav>
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link">السابق</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">التالي</a>
                  </li>
                </ul>
              </nav>

        </div>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit">حفظ</button>
            <a href="" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>