<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> البيانات المالية لشهر {{PeriodName}}</h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId+'/'+approveStatusText" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">
         <form #myForm="ngForm" (ngSubmit)="save()">
            <div class="row">

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات المياه
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  noMinus #WaterExpenses="ngModel" required class="form-control "
                            name="WaterExpenses" [(ngModel)]="request.WaterExpenses" [disabled]="approveStatus">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="WaterExpenses.invalid && (WaterExpenses.dirty || WaterExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="WaterExpenses.errors?.['required']">حقل نفقات المياه مطلوب</div>
                        <div *ngIf="WaterExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="WaterExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="WaterExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات الكهرباء
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number"  min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus #ElectricityExpenses="ngModel" required class="form-control "
                            name="ElectricityExpenses" [(ngModel)]="request.ElectricityExpenses" [disabled]="approveStatus">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="ElectricityExpenses.invalid && (ElectricityExpenses.dirty || ElectricityExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="ElectricityExpenses.errors?.['required']">حقل نفقات الكهرباء مطلوب</div>
                        <div *ngIf="ElectricityExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="ElectricityExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="ElectricityExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات الوقود​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  step="1"  noMinus #FuelExpenses="ngModel" required class="form-control "
                            name="FuelExpenses" [(ngModel)]="request.FuelExpenses" [disabled]="approveStatus">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="FuelExpenses.invalid && (FuelExpenses.dirty || FuelExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="FuelExpenses.errors?.['required']">حقل نفقات الوقود​ مطلوب</div>
                        <div *ngIf="FuelExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="FuelExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="FuelExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        نفقات المواد الخام​​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number" min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"  step="1"  noMinus #RawMterialExpenses="ngModel" required class="form-control "
                            name="RawMterialExpenses" [(ngModel)]="request.RawMterialExpenses" [disabled]="approveStatus">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="RawMterialExpenses.invalid && (RawMterialExpenses.dirty || RawMterialExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="RawMterialExpenses.errors?.['required']">حقل نفقات المواد الخام مطلوب</div>
                        <div *ngIf="RawMterialExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="RawMterialExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="RawMterialExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip="كل المبالغ التي يتم إنفاقها على الموظف من: الرواتب ونفقات الرعاية الصحية وأجور العمل الإضافي وتكاليف الإجازة المدفوعة و تكاليف نقل العمالة والمزايا الأخرى.">

                        نفقات العمالة ​​​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number" min="1" max="10000000000"  pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus #EmploymentExpenses="ngModel" required class="form-control "
                            name="EmploymentExpenses" [(ngModel)]="request.EmploymentExpenses" [disabled]="approveStatus">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="EmploymentExpenses.invalid && (EmploymentExpenses.dirty || EmploymentExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="EmploymentExpenses.errors?.['required']"> الرجاء إدخال قيمة نفقات العمالة  </div>
                        <div *ngIf="EmploymentExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="EmploymentExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="EmploymentExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>


                    </div>

                </div>

                <div class="col-md-4">
                    <label class="form-label" placement="left" title="" tooltip=" النفقات التشغيلية هي التكاليف التي يتكبدها العمل في إطار نشاطه اليومي للحفاظ على سير أعماله وتحقيق أهدافه تشمل هذه النفقات تكاليف المواد الخام، والإيجارات، وتكاليف الطاقة، والإعلانات، والصيانة، وغيرها من التكاليف التي ترتبط بالعمليات اليومية للمصنع.">

                        نفقات تشغيلية أخرى​​​​
                        <span class="required">*</span>

                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number"  min="1" max="10000000000" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"   noMinus #OtherOperatingExpenses="ngModel" required class="form-control "
                            name="OtherOperatingExpenses" [(ngModel)]="request.OtherOperatingExpenses" [disabled]="approveStatus">
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>
                    <div *ngIf="OtherOperatingExpenses.invalid && (OtherOperatingExpenses.dirty || OtherOperatingExpenses.touched)"
                        class="validation-error">
                        <div *ngIf="OtherOperatingExpenses.errors?.['required']">حقل نفقات تشغيلية أخرى مطلوب</div>
                        <div *ngIf="OtherOperatingExpenses.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                        <div *ngIf="OtherOperatingExpenses.errors?.['max']" >الرجاء إدخال رقم أقل من 10000000000   </div>
                        <div *ngIf="OtherOperatingExpenses.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>

                    </div>

                </div>
               

                    <div class="col-md-3"></div>
                <div class="col-md-6">
                    <label class="form-label" placement="left" title="" tooltip=" ارقام صحيحة وعشرية، ليست سلبية ">

                        إجمالي النفقات التشغيلية​
                        <i>؟</i>
                    </label>
                    <div class="input-group">
                        <input type="number" noMinus class="form-control " name="TotalExpenses"
                            [ngModel]="getTotalExpenses()" disabled>
                        <input type="text" class="form-control " placeholder="" value="ريال سعودي" disabled
                            style="max-width: 117px;">
                    </div>

                </div>
            </div>
            <div class="form-footer">
                <div class="col-12">
                    <button class="btn btn-primary me-1" [disabled]="myForm.invalid || approveStatus" type="submit">حفظ</button>
                    <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId+'/'+approveStatusText" class="btn btn-danger">الغاء</a>
                </div>
            </div>
        </form>

    </div>


</section>