<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">     البيانات الأساسية  لشهر{{PeriodName}}</h2>
        <div>
            <a [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="row" #parentDiv>
            <div class="col-md-12">
                <h3>  التحقق من صحة البيانات الأساسية للمصنع​</h3>
            </div>
            <div class="col-md-5">
                <label class="form-label"> اسم المصنع</label>
                <input type="text" class="form-control" [(ngModel)]="requestFactory.FactoryName" disabled>
                
            </div>
            <div class="col-md-2">
                <label class="form-label"> هل الاسم صحيح؟</label>
                <select class="form-select" (change)="onInputChange($event)" [(ngModel)]="requestFactory.IsFactNameCorrect">
                    <option [ngValue]="true" selected>نعم</option>
                    <option [ngValue]="false">لا</option>
                </select>
            </div>
            <div class="col-md-5" *ngIf="requestFactory.IsFactNameCorrect == false">
                <label class="form-label"> اسم المصنع الصحيح<span class="required">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="requestFactory.CorrectFactoryName">
                <span  class="text-danger" *ngIf="requestFactory.CorrectFactoryName==''||requestFactory.CorrectFactoryName==null">
                    الرجاء إدخال إسم المصنع الصحيح
                    {{NotValid()}}
            </span>
            </div>
        </div>

        <div class="row">
           
            <div class="col-md-5">
                <label class="form-label">الحالة الحالية</label>
                <select class="form-select disabled" [(ngModel)]="requestFactory.FactoryStatus"  disabled>
                    <option [ngValue]="0">منتج</option>
                    <option [ngValue]="1">تحت التأسيس </option>
                    <option [ngValue]="2">متوقف</option>
                    <option [ngValue]="3">تحت الانتاج</option>
                    <option [ngValue]="4">ملغي</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label"> هل الحالة صحيحة؟</label>
                <select class="form-select if-no" (change)="onInputChange($event)" [(ngModel)]="requestFactory.IsFactStatusCorrect">
                    <option [ngValue]="true" selected>نعم</option>
                    <option [ngValue]="false">لا</option>
                </select>
            </div>
            <div class="col-md-5 " *ngIf="requestFactory.IsFactStatusCorrect == false">
                <label class="form-label">  الحالة الحالية الصحيحة<span class="required">*</span></label>
                <select class="form-select" (change)="Valid()" [(ngModel)]="requestFactory.CorrectFactoryStatus">
                    <option [ngValue]="0">منتج</option>
                    <option [ngValue]="1">تحت التأسيس </option>
                    <option [ngValue]="2">متوقف</option>
                    <option [ngValue]="3">تحت الانتاج</option>
                    <option [ngValue]="4">ملغي</option>
                    
                </select>
                <span  class="text-danger" *ngIf="requestFactory.CorrectFactoryStatus==-1||requestFactory.CorrectFactoryStatus==null">
                        الرجاء إختيار حالة المصنع الصحيحة
                        {{NotValid()}}
                </span>
            </div>
        </div>

        <div class="col-md-12">
            <label class="form-label"> تعليقات </label>
            <textarea  rows="3" class="form-control" [(ngModel)]="requestFactory.Comments"></textarea>
        </div>
      
        <app-basic-info-file-form [factoryId]="factoryId" [periodId]="periodId"></app-basic-info-file-form>
        
    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit" (click)="save()">حفظ</button>
            <a [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="btn btn-danger">الغاء</a>
        </div>
        </div>
    <!-- Modal photos-->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> عرض الصورة </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <img [src]="src" alt="" class="img-fluid">
        </div>
    </div>
    </div>
    </div>
</section>