<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title">    موقع المصنع لشهر {{PeriodName}}</h2>
        <div>
            <a [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
            </a>
        </div>
    </div>
    <form [formGroup]="FactoryLocForm">
    <div class="form-body">
        
        <div class="col-md-12">
            <h3>  التحقق من موقع المصنع</h3>
        </div>
      
        <div class="row">
           
            <div class="col-md-4">
                <label class="form-label"> الجهة التي يتبع لها المصنع<br/>​</label>
                 <select class="form-select"   formControlName="FactoryEntityId"  
               name="FactoryEntityId" [(ngModel)]="requestFactory.FactoryEntityId" 
               (change)="onEntitySelect(requestFactory.FactoryEntityId)">
                    <option *ngFor="let factoryEntity of factoryEntities" 
                    [ngValue]="factoryEntity.Id">{{factoryEntity.NameAr}} </option>
                </select>
               
            </div>
            <div class="col-md-3">
                <label class="form-label"> هل الجهة التي يتبع لها المصنع​ صحيحة؟</label>
                <select class="form-select" name="IsFactoryEntityCorrect" 
                formControlName="IsFactoryEntityCorrect" 
                [(ngModel)]="requestFactory.IsFactoryEntityCorrect" (change)="onInputChange($event)">
                    <option [ngValue]="true" selected>نعم</option>
                    <option [ngValue]="false">لا</option>
                </select>
            </div>
            <div class="col-md-5" *ngIf="requestFactory.IsFactoryEntityCorrect == false">
                <label class="form-label"> أختر  الجهة الصحيحة التي يتبع لها المصنع<br/>​ </label>
                <select class="form-select"    
                formControlName="NewFactoryEntityId"
                name="NewFactoryEntityId"
                 [(ngModel)]="requestFactory.NewFactoryEntityId" 
                 (change)="onEntitySelect(requestFactory.NewFactoryEntityId)" required="">
                    <option *ngFor="let factoryEntity of factoryEntities" [ngValue]="factoryEntity.Id">{{factoryEntity.NameAr}} </option>
                </select>
                
                <div class="text-danger" *ngIf="submitted && requestFactory.IsFactoryEntityCorrect == false && requestFactory.NewFactoryEntityId==-1">
                   الرجاء إختيار  الجهة التي يتبع لها المصنع 
                </div>
            </div>
        </div>

        <div class="row">
           
            <div class="col-md-4">
                <label class="form-label"> المدينة</label>
                <select class="form-select" formControlName="CityId"   [disabled]="true"
                name="CityId" [(ngModel)]="requestFactory.CityId">
                    <option *ngFor="let city of cities" [ngValue]="city.Id">{{city.NameAr}} </option>
                </select>
                
            </div>
            <div class="col-md-3" >
                <label class="form-label"> هل المدينة صحيحة؟</label>
                <select class="form-select" [(ngModel)]="requestFactory.IsCityCorrect"
                  formControlName="IsCityCorrect"
                  name="IsCityCorrect"
                   (change)="onInputChange($event)">
                    <option [ngValue]="true" selected>نعم</option>
                    <option [ngValue]="false">لا</option>
                </select>
            </div>
            <div class="col-md-5" *ngIf="requestFactory.IsCityCorrect == false">
                <label class="form-label"> أختر  المدينة الصحيحة</label> 
                <select class="form-select" formControlName="NewCityId"   required=""
                name="NewCityId" [(ngModel)]="requestFactory.NewCityId" (change)="onCitySelect(requestFactory.NewCityId)">
                    <option *ngFor="let city of Newcities" [ngValue]="city.Id">{{city.NameAr}} </option>

                  
                </select>
                <div  class="text-danger" *ngIf="submitted && requestFactory.IsCityCorrect == false && requestFactory.NewCityId==-1">
                    الرجاء إختيار  المدينة الصحيحة
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-4">
                <label class="form-label"> المنطقة الصناعية</label>
                <select class="form-select" name="IndustrialAreaId" 
                formControlName="IndustrialAreaId"
                [(ngModel)]="requestFactory.IndustrialAreaId" >
                    <option *ngFor="let industrialArea of industrialAreas" [ngValue]="industrialArea.Id" >{{industrialArea.NameAr}} </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label"> هل المنطقة الصناعية صحيحة؟</label>
                <select class="form-select"  formControlName="IsIndustrialAreaCorrect"
                name="IsIndustrialAreaCorrect"
                [(ngModel)]="requestFactory.IsIndustrialAreaCorrect" (change)="onInputChange($event)">
                    <option [ngValue]="true" selected>نعم</option>
                    <option [ngValue]="false">لا</option>
                </select>
            </div>
            <div class="col-md-5" *ngIf="requestFactory.IsIndustrialAreaCorrect == false">
                <label class="form-label"> أختر المنطقة الصناعية الصحيحة</label>
                <select class="form-select" name="NewIndustrialAreaId" 
                formControlName="NewIndustrialAreaId"
                [(ngModel)]="requestFactory.NewIndustrialAreaId" required="" >
                    <option *ngFor="let industrialArea of NewindustrialAreas" [ngValue]="industrialArea.Id" >{{industrialArea.NameAr}} </option>
                </select>
                <span  class="text-danger" *ngIf="submitted && requestFactory.IsIndustrialAreaCorrect == false && requestFactory.NewIndustrialAreaId==-1">
                    الرجاء إختيار  المنطقة الصناعية الصحيحة
                </span>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-4">
                <label class="form-label">  رابط موقع المصنع</label>
                <input type="url" class="form-control"
                formControlName="WebSite"
                  [(ngModel)]="requestFactory.WebSite">
            </div>
            <div class="col-md-3">
                <label class="form-label"> هل  الرابط صحيح؟</label>
                <select class="form-select" [(ngModel)]="requestFactory.IsWebSiteCorrect" 
                formControlName="IsWebSiteCorrect"
                name="IsWebSiteCorrect"
                (change)="onwebUrlChange()">
                    <option [ngValue]="true" selected>نعم</option>
                    <option [ngValue]="false">لا</option>
                </select>
            </div>
            <div class="col-md-5" *ngIf="requestFactory.IsWebSiteCorrect == false">
                <label class="form-label">  أدخل  رابط موقع المصنع الصحيح</label>
                <input type="url"  name="NewWebSite" formControlName="NewWebSite" pattern="{{combinedPattern}}" class="form-control" [(ngModel)]="requestFactory.NewWebSite" value="">
                <div  class="text-danger" *ngIf="submitted&& requestFactory.IsWebSiteCorrect == false && requestFactory.NewWebSite==''">
                    رابط موقع المصنع يبدأ ب https://www.google.com/maps <br>
                    أو  /https://maps.app.goo.gl 
                </div>
                <div *ngIf="submitted&& FactoryLocForm.get('NewWebSite')?.errors && (FactoryLocForm.get('NewWebSite')?.dirty)"
                class="text-danger">
                <div *ngIf="FactoryLocForm.get('NewWebSite')?.errors?.['pattern']" >
                    رابط موقع المصنع يبدأ ب https://www.google.com/maps <br>
                     أو  /https://maps.app.goo.gl 
               </div>

            </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <label class="form-label"> تعليقات </label>
            <textarea  rows="3" class="form-control"
            formControlName="Comment" 
            name="Comment"
            [(ngModel)]="requestFactory.Comment"></textarea>
        </div>

          
        <app-factory-location-file [factoryId]="factoryId" [periodId]="periodId"></app-factory-location-file>
   

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit" (click)="save()">حفظ</button>
            <a [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</form>
</section>