<div class="col-md-12 mt-3">
    <h3> إرفاق المستندات الداعمة  </h3>
</div>

<div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
    <strong><span class="d-block mb-2">الرجاء إرفاق المستندات الداعمة التالية:</span></strong>
    <ul>
        <li>البيانات المالية المدققة</li>
        
        <li>  سجل الإنتاج </li>
       
        <li>   كمية المبيعات</li>
       
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



<div class="row">


    <div class="col-md-6">
        <label class="form-label"> اسم المستند</label>
        <select name="" id="" class="form-select">
            <option value="">البيانات المالية المدققة</option>
            <option value="">سجل الإنتاج</option>
            <option value=""> كمية المبيعات</option>
            
        </select>
    </div>

    <div class="col-md-6">
        <label class="form-label">رفع المستند    </label>
        <div class="input-group">
            <input type="file" class="form-control" placeholder="" value="">
            <button class="btn btn-primary" type="button">اضافة </button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-small-header">
        <thead>
            <tr>
                <th>#</th>
                <th> اسم المستند </th>
                <th>امتداد المستند</th>                                            
                <th style="min-width: 140px">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4"> <div class="text-center">لا توجد ملفات </div> </td>
                
            </tr>
            
        </tbody>
    </table>
</div>