
<div class="col-md-12">
    <h3>بيانات المدقق</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="" class="form-label">الاسم</label>
      <input type="text" class="form-control" [(ngModel)]="request.Name"  />
    </div>
    <div class="col-md-6">
      <label for="" class="form-label">رقم الهوية</label>
      <input type="text" class="form-control" [(ngModel)]="request.OwnerIdentity" />
    </div>
    <div class="col-md-6">
      <label for="" class="form-label"> البريد الإلكتروني</label>
      <input type="email" class="form-control" [(ngModel)]="request.Email" />
    </div>
    <div class="col-md-6">
      <label for="" class="form-label">رقم الهاتف</label>
      <input type="text" class="form-control" [(ngModel)]="request.Phone" />
    </div>
    <div class="col-md-6">
      <label for="" class="form-label"> الجهة التابع لها المدقق</label>
      <select class="form-select" #FactoryEntityId="ngModel" required 
      name="FactoryEntityId" [(ngModel)]="request.FactoryEntityId" (change)="getFactory(request.FactoryEntityId)">
          <option *ngFor="let factoryEntity of factoryEntities" [ngValue]="factoryEntity.Id">{{factoryEntity.NameAr}} </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="" class="form-label">حالة المدقق </label>
      <select class="select" [(ngModel)]="request.Status">
        <option value="1">نشط</option>
        <option value="0">غير نشط</option>
      </select>
    </div>
  </div>

<div class="col-md-12">
    <h3>بيانات المصنع</h3>
</div>
<div class="row">
    <div class="col-md-10">
        <label for="" class="form-label">اسم المصنع</label>
        <select class="form-select" [(ngModel)]="request.FactoryId">
          <option *ngFor="let factory of factoriesByEntity" [ngValue]="factory.Id">{{factory.NameAr}} </option>
   
        </select>
    </div>
    <div class="col-md-2">
        <button href="" class="btn btn-primary" style="margin-top: 32px" (click)="addFactory(request.FactoryId)">
            إضافة
        </button>
    </div>
</div>

<div class="col-md-12 mt-3">
    <h3>المصانع المسندة</h3>
</div>

<table class="table table-hover table-small-header">
    <thead>
        <tr>
            <th>#</th>
            <th>اسم المصنع</th>
            <th>السجل التجاري</th>
            <th>خيارات</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let factory of factoriesAssigned; let i=index">
            <td>{{i+1}}</td>
            <td>{{factory.NameAr}}</td>
            <td>{{factory.CommercialRegister}}</td>
            <td><button href="" class="btn btn-danger" (click)="deleteFactory(i,factory)">حذف</button></td>
        </tr>
    </tbody>
</table> 
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">إضافة</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      اغلاق
    </button>
  </div>
