<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">الشروط والاحكام</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="terms">
                    <li>أتحمل مسؤولية صحة البيانات المدخلة.</li>
                    <li>ألتزم بتحديث بيانات المشروع الصناعي بشكل مستمر حسب تعليمات الوزارة وأتحمل التبعات المترتبة في حال عدم الالتزام بذلك.</li>
                    <li>أقدم للوزارة البيانات المالية المطلوبة وفقا للميزانية العمومية المصادق عليها من محاسب قانوني، والحسابات الختامية لكل سنة مالية وان تكون حسابات المشروع الصناعي منتظمة وفقا للأصول المحاسبية والقواعد القانونية.</li>
                    <li>
                        الوزارة ملتزمة بحماية المعلومات التي يقدمها المستثمر وعدم نشرها أو الإفصاح عنها والحفاظ على سريتها مما يدعم ضمان نزاهة وشفافية القطاع الصناعي، وتقوم بتطبيق سياسات أمنية وقواعد وتدابير فنية لحماية البيانات التي تحت سيطرتها وفقاً لأنظمة المملكة العربية السعودية. هذه التدابير الأمنية مصممة لمنع الدخول أو الاطلاع غير المصرح به والاستخدام السيء لهذه البيانات أو الكشف
                        عنها أو التعديل غير المصرح به أو الإتلاف غير القانوني أو الفقدان.
                    </li>
                    <li>يحق للوزارة أن تشارك المعلومات المجمعة (غير تفصيلية) لديها عن عملائها وخدماتها إلى الجهات التابعة لها أو لغيرها من الجهات المعروفة بالقدر الذي تجيزه الأنظمة والقوانين، ماعدا بيانات الهوية الشخصية. كما يجوز لها أن تكشف عن المعلومات التي ينص القانون على كشفها و/أو التي تحمي حقوقها القانونية.</li>
                </ul>
            </div>
        </div>
    </div>
</div>