<div class="col-md-12">
    <h3> المستندات المتعلقة بالطاقة التصميمية </h3>
</div>

<div class="table-responsive">
    <table class="table table-hover table-small-header">
        <thead>
            <tr>
                <th>#</th>
                <th> اسم المستند </th>
                <th> نوع المستند </th>
                <th>امتداد المستند</th>
                <th style="min-width: 140px">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files let i=index">
                <td>{{i+1}}</td>
                <td> {{file.Name}}</td>
                <td *ngIf="file.Type==0">البيانات المالية المدققة</td>
                <td *ngIf="file.Type==1">سجل الإنتاج </td>
                <td *ngIf="file.Type==2">كمية المبيعات</td>
                <td>{{file.Extention}}</td>
                <td>
                    <a (click)="getFile(file.AttachmentId)" class="btn btn-primary mx-1">
                        عرض

                    </a>
                </td>
            </tr>


        </tbody>
    </table>
</div>
<div class="col-md-12">
    <h3> رفع مستندات اخرى </h3>
</div>
<div class="row">


    <div class="col-md-6">
        <label class="form-label"> اسم المستند</label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="request.Name">
    </div>
    <div class="col-md-6">
        <label class="form-label"> نوع المستند <span class="required">*</span></label>
        <select name="Type" id="Type" [(ngModel)]="request.Type" class="form-select">
            <option [ngValue]="0">البيانات المالية المدققة</option>
            <option [ngValue]="1">سجل الإنتاج </option>
            <option [ngValue]="2">كمية المبيعات</option>
        </select>
    </div>

    <div class="col-md-6">
        <label class="form-label">رفع المستند </label>
        <div class="input-group">
            <input type="file" #fileInput class="form-control" placeholder="" value="" (change)="saveFile($event)">
            <button class="btn btn-primary" type="button" (click)="save()">اضافة </button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-small-header">
        <thead>
            <tr>
                <th>#</th>
                <th> اسم المستند </th>
                <th> نوع المستند </th>
                <th>امتداد المستند</th>
                <th style="min-width: 140px">خيارات</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let file of Inspectorsfiles let i=index">
                <td>{{i+1}}</td>
                <td> {{file.Name}}</td>
                <td *ngIf="file.Type==0">البيانات المالية المدققة</td>
                <td *ngIf="file.Type==1">سجل الإنتاج </td>
                <td *ngIf="file.Type==2">كمية المبيعات</td>
                <td>{{file.Extention}}</td>
                <td>
                    <a (click)="getFile(file.AttachmentId)" class="btn btn-primary mx-1" data-bs-toggle="modal"
                        data-bs-target="#photoModal">
                        عرض

                    </a>
                    <a (click)="deleteFile(file.Id)" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>