<section class="form-panel">
  <div class="form-header">
    <h2 class="form-title">بيانات جهة الإتصال  لشهر {{PeriodName}}</h2>
    <div>
      <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="back-link">
        رجوع
        <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h48v48h-48z" fill="none"></path>
          <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666">
          </path>
        </svg>
      </a>
    </div>
  </div>
  <div class="form-body">
    <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
      <P>
        يتم إدخال أرقام هواتف الموظفين المعنيين مع الحرص على ان تكون أرقام الهواتف صحيحة و مفعلة كذلك البريد الإلكتروني لكل موظف و من ثم الضغط على خيار حفظ.
       </div>
    <form #f="ngForm" [formGroup]="phoneForm" (submit)="save()">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label"> رقم الجوال لضابط الإتصال <span class="required">*</span></label>
                  <ngx-intl-tel-input
                    [cssClass]="'form-control'"
                    [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="false"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.SaudiArabia"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="OfficerPhone"
                    formControlName="OfficerPhone"
                  >
                  </ngx-intl-tel-input>
                  <div style="color: #F00;" *ngIf="phoneForm.get('OfficerPhone')?.errors && phoneForm.get('OfficerPhone')?.touched">
                    <div *ngIf="phoneForm.get('OfficerPhone')?.hasError('required')">هذا الحقل مطلوب</div>
                    <div *ngIf="phoneForm.get('OfficerPhone')?.hasError('saPhoneNumber')">الرجاء إدخال رقم هاتف سعودي صالح</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">
                    البريد الإلكتروني لضابط الإتصال <span class="required">*</span>
                  </label>
                  <div class="input-group mb-3">
                    <input
                      type="email"
                      class="form-control"
                 
                      name="OfficerEmail"
                      formControlName="OfficerEmail"
                    />
                  </div>
                  <div style="color: #F00;" *ngIf="phoneForm.get('OfficerEmail')?.errors && phoneForm.get('OfficerEmail')?.touched">
                    <div *ngIf="phoneForm.get('OfficerEmail')?.hasError('required')">هذا الحقل مطلوب</div>
                    <div *ngIf="phoneForm.get('OfficerEmail')?.hasError('isValidEmail')">عنوان بريد إلكتروني غير صالح</div>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label"> رقم الجوال لمدير الإنتاج <span class="required">*</span></label>
                  <ngx-intl-tel-input
                    [cssClass]="'form-control'"
                    [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="false"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.SaudiArabia"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="ProductionManagerPhone"
                    formControlName="ProductionManagerPhone"
                  >
                  </ngx-intl-tel-input>
                  <div style="color: #F00;" *ngIf="phoneForm.get('ProductionManagerPhone')?.errors && phoneForm.get('ProductionManagerPhone')?.touched">
                    <div *ngIf="phoneForm.get('ProductionManagerPhone')?.hasError('required')">هذا الحقل مطلوب</div>
                    <div *ngIf="phoneForm.get('ProductionManagerPhone')?.hasError('saPhoneNumber')">الرجاء إدخال رقم هاتف سعودي صالح</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">
                    البريد الإلكتروني لمدير الإنتاج <span class="required">*</span>
                  </label>
                  <div class="input-group mb-3">
                    <input
                      type="email"
                      class="form-control"
                      
                      name="ProductionManagerEmail"
                      formControlName="ProductionManagerEmail"
                    />
                  </div>
                  <div style="color: #F00;" *ngIf="phoneForm.get('ProductionManagerEmail')?.errors && phoneForm.get('ProductionManagerEmail')?.touched">
                    <div *ngIf="phoneForm.get('ProductionManagerEmail')?.hasError('required')">هذا الحقل مطلوب</div>
                    <div *ngIf="phoneForm.get('ProductionManagerEmail')?.hasError('isValidEmail')">عنوان بريد إلكتروني غير صالح</div>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label"> رقم الجوال لمدير المالية <span class="required">*</span></label>
                  <ngx-intl-tel-input
                    [cssClass]="'form-control'"
                    [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="false"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.SaudiArabia"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="FinanceManagerPhone"
                    formControlName="FinanceManagerPhone"

                  >
                  </ngx-intl-tel-input>
                  <div style="color: #F00;" *ngIf="phoneForm.get('FinanceManagerPhone')?.errors && phoneForm.get('FinanceManagerPhone')?.touched">
                    <div *ngIf="phoneForm.get('FinanceManagerPhone')?.hasError('required')">هذا الحقل مطلوب</div>
                    <div *ngIf="phoneForm.get('FinanceManagerPhone')?.hasError('saPhoneNumber')">الرجاء إدخال رقم هاتف سعودي صالح</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">
                    البريد الإلكتروني لمدير المالية <span class="required">*</span>
                  </label>
                  <div class="input-group mb-3">
                    <input
                      type="email"
                      class="form-control"
                    
                      name="FinanceManagerEmail"
                      formControlName="FinanceManagerEmail"
                    />
                  </div>
                  <div style="color: #F00;" *ngIf="phoneForm.get('FinanceManagerEmail')?.errors && phoneForm.get('FinanceManagerEmail')?.touched">
                    <div *ngIf="phoneForm.get('FinanceManagerEmail')?.hasError('required')">هذا الحقل مطلوب</div>
                    <div *ngIf="phoneForm.get('FinanceManagerEmail')?.hasError('isValidEmail')">عنوان بريد إلكتروني غير صالح</div>
                  </div>
                </div>
              </div>
              <div class="form-footer">
                <div class="col-12">
                  <button class="btn btn-primary me-1" type="submit">حفظ</button>
                  <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="btn btn-danger">الغاء</a>
                </div>
              </div>
            </form> 
  </div>


</section>

<app-terms-modal></app-terms-modal>