
<form #myForm="ngForm" (ngSubmit)="save()">

<div class="row">
    <div *ngIf="Id==0" class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
        في حال عدم وجود اسم المادة الأولية - المادة الخام- المراد اضافتها ضمن القائمة الخاصة بإسم البند الجمركي   (رقم البند الجمركي على مستوى 12) ، الرجاء التواصل مع الجهة المختصة بوزارة الصناعة ورفع طلب بذلك .
    </div>
    <div class="col-md-6">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل" disabled> 
            اسم البند الجمركي
            (رقم البند الجمركي على مستوى 12)
             <span class="required">*</span>
        </label>

        <!-- <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="filterData(searchTerm)"> -->
        <!-- <select  class="form-select" *ngIf="searchValue" [(ngModel)]="request.CustomItemName" (change)="onSelectionChange()">
          <option *ngFor="let item of filteredData" [value]="item.Id"> -->
           <!-- {{ item.Hs12NameAr }} ({{item. Hs12Code}})
          </option>
        </select> -->

      
        <select class="form-select" (change)="onSelectionChange()" [(ngModel)]="request.CustomItemName" name="CustomItemName" required>
            <option *ngFor="let item of products12" [value]="item.Id">
                {{ item.Hs12NameAr }} ({{item. Hs12Code}})

            </option>
        </select>
    </div>
    <div class="col-md-3">
        <label class="form-label" placement="left" title="" tooltip="الاسم المتداول في السوق "> 
           
            اسم المادةالأولية(المادة الخام)التجاري
            <span class="required">*</span>
            <i>؟</i>
        </label>

        <input type="text" class="form-control" value="" name="productName" #productName="ngModel" [(ngModel)]="request.Name" required>
        <div *ngIf="productName.invalid && (productName.dirty || productName.touched)"
        class="validation-error">
        <div *ngIf="productName.errors?.['required']">الرجاء إدخال إسم المادة الأولية </div>        
    </div>
    </div>
    <div class="col-md-3">
        
        <label class="form-label" placement="left" title="" tooltip="يتم كتابة اقصى كمية من المواد الاولية (الخام) يتم استهلاكها خلال الشهر"> اقصى استهلاك شهري
            
            <span class="required">*</span>
            <i>؟</i>
        </label>
        <input type="number" name="MaximumMonthlyConsump" #MaximumMonthlyConsump="ngModel"  min="1" max="1000000000000" pattern="[0-9]+([\.,][0-9]{1,5})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"    class="form-control" noMinus [(ngModel)]="request.MaximumMonthlyConsumption" required>
        <div *ngIf="MaximumMonthlyConsump.invalid && (MaximumMonthlyConsump.dirty || MaximumMonthlyConsump.touched)"
        class="validation-error">
        <div *ngIf="MaximumMonthlyConsump.errors?.['required']"> الرجاء إدخال قيمة أقصى إستهلاك شهري </div>
        <div *ngIf="MaximumMonthlyConsump.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
        <div *ngIf="MaximumMonthlyConsump.errors?.['max']" >الرجاء إدخال رقم أقل من 1000000000000   </div>
        <div *ngIf="MaximumMonthlyConsump.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>
        
    </div>
    </div>
    <div class="col-md-2">


        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">
            وحدة القياس 
        </label>
        <select class="form-select" [(ngModel)]="request.UnitId" name="Name" disabled>
            <option *ngFor="let item of units" [value]="item.Id" >
                {{ item.Name }}
            </option>
        </select>
    </div>

    <div class="col-md-4">
          <label class="form-label" tooltip="يتم كتابة الوزن المقابل لوحدة القياس المحددة(الحقل السابق ) للمادة الاولية -المادة الخام- بالكيلوجرام مثال : في حال كانت وحدة قياس المادة الاولية - المادة الخام- هي الطن يتم كتابة القيمة 1000 في حقل الوزن المقابل بالكيلوجرام" placement="left">
       
             الوزن المقابل  
            بالكيلوجرام لكل وحدة   
            <span class="required">*</span>
            <i>؟</i>
        </label>
        <div class="input-group">
            <input type="number"  name="AverageWeightKG" min="0" max="10000000000" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" step="1" class="form-control" [(ngModel)]="request.AverageWeightKG" noMinus
                [disabled]="showInput" >
            <input type="text" class="form-control px-1 text-center" value="كغ" disabled="" style="max-width: 40px;">
        </div>
    </div>
            <div class="col-md-6">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">تستخدم في أي منتج ؟
            
            <span class="required">*</span>
        </label>

       <div class="multiselect-parent">
            <ng-multiselect-dropdown [placeholder]="'أختر'" name="FactoryProductId" [settings]="dropdownSettings" [data]="products12"
                [(ngModel)]="selectedProducts" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" required>
            </ng-multiselect-dropdown>
        </div>
       <!-- <select class="form-select" (change)="onSelectionChange()" [(ngModel)]="request.FactoryProductId" name="CustomItemName" required>
            <option *ngFor="let item of products12" [value]="item.Id">
                {{ item.Hs12NameAr }} ({{item. Hs12Code}})

            </option>
        </select>--> 

    </div>



    <div class="col-md-6">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">إرفاق صورة المادة
            الأولية بصيغة jpeg , jpg , png , pdf (ان وجدت)
            <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
            </span> 
        </label>
        <input type="file" #fileInputPhoto accept=".png, .jpg, .jpeg, .pdf" class="form-control" placeholder="" value="" (change)="savePhoto($event)">
        <div *ngIf="fileErrorPhoto" class="validation-error">{{ fileErrorPhoto }}</div>
    </div>
    <div class="col-md-6">
        <label class="form-label" placement="left" title=""
            tooltip="إرفاق ورقة البيانات أو دليل/ معايير البيانات إن وجدت" aria-describedby="tooltip617728"> إرفاق ورقة
            البيانات بصيغة   pdf (ان وجدت)
            <span  class="file-size-span"> [  حجم المستند أقل من 5MB]
            </span> 
            <i>؟</i>
        </label>
        <input type="file" #fileInputPaper accept=".pdf" class="form-control" placeholder="" value="" (change)="savePaper($event)">
        <div *ngIf="fileError" class="validation-error">{{ fileError }}</div>
    </div>

    <div class="col-md-12">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">وصف المادة الأوليةالمستخدمة (ان وجدت)
            
        </label>

        <textarea class="form-control" rows="2" [(ngModel)]="request.Description"></textarea>

    </div>




</div>


<div class="modal-footer">
    <div class="col-12 text-end">
        <button class="btn btn-primary me-1" [disabled]="myForm.invalid" type="submit">حفظ</button>
        <!-- <button class="btn btn-primary me-1" type="submit" (click)="saveProducts()"> Products</button> -->
        <a data-bs-dismiss="modal" class="btn btn-danger">الغاء</a>
    </div>
</div>