<div class="row">

    <div class="col-md-6">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل" disabled> اسم البند الجمركي
            <i>؟</i>
        </label>

        <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="filterData(searchTerm)">
        <select  class="form-select" *ngIf="searchValue" [(ngModel)]="request.CustomItemName" (change)="onSelectionChange()">
          <option *ngFor="let item of filteredData" [value]="item.Id">
            <!-- Display your data here -->{{ item.Hs12NameAr }} ({{item. Hs12Code}})
          </option>
        </select>
        <!-- <select class="form-select" (change)="onSelectionChange()" [(ngModel)]="request.CustomItemName">
            <option *ngFor="let item of products" [value]="item.Id">
                {{ item.Hs12NameAr }} ({{item. Hs12Code}})

            </option>
        </select> -->
    </div>
    <div class="col-md-3">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل"> اسم المادةالأولية
            <i>؟</i>
        </label>

        <input type="text" class="form-control" value="" [(ngModel)]="request.Name">

    </div>
    <div class="col-md-3">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل"> اقصى استهلاك شهري
            <i>؟</i>
        </label>
        <input type="number"  class="form-control" noMinus [(ngModel)]="request.MaximumMonthlyConsumption" >

    </div>
    <div class="col-md-3">


        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">
            وحدة القياس <i>؟</i>
        </label>
        <select class="form-select" [(ngModel)]="request.UnitId" disabled>
            <option *ngFor="let item of units" [value]="item.Id">
                {{ item.Name }}
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">متوسط الوزن بحسب الوحدة لكل
            كيلوجرام
            <!-- <i>؟</i> -->
        </label>
        <div class="input-group">
            <input type="number" class="form-control" [(ngModel)]="request.AverageWeightKG" noMinus
                [disabled]="showInput" >
            <input type="text" class="form-control px-1 text-center" value="كغ" disabled="" style="max-width: 40px;">
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">تستخدم في أي منتج ؟
            <i>؟</i>
        </label>

        <div class="multiselect-parent">
            <ng-multiselect-dropdown [placeholder]="'أختر'" [settings]="dropdownSettings" [data]="products"
                [(ngModel)]="selectedProducts" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>

    </div>



    <div class="col-md-3">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">إرفاق صورة المادة
            الأولية
            <i>؟</i>
        </label>
        <input type="file" class="form-control" placeholder="" value="" (change)="savePhoto($event)">
    </div>
    <div class="col-md-3">
        <label class="form-label" placement="left" title=""
            tooltip="إرفاق ورقة البيانات أو دليل/ معايير البيانات إن وجدت" aria-describedby="tooltip617728"> إرفاق ورقة
            البيانات <i>؟</i></label>
        <input type="file" class="form-control" placeholder="" value="" (change)="savePaper($event)">
    </div>

    <div class="col-md-12">
        <label class="form-label" placement="left" title="" tooltip="شرح الحقل">وصف للمادة الأوليةالمستخدمة
            <i>؟</i>
        </label>

        <textarea class="form-control" rows="2" [(ngModel)]="request.Description"></textarea>

    </div>




</div>


<div class="modal-footer">
    <div class="col-12 text-end">
        <button class="btn btn-primary me-1" type="submit" (click)="save()"> حفظ</button>
        <!-- <button class="btn btn-primary me-1" type="submit" (click)="saveProducts()"> Products</button> -->
        <a data-bs-dismiss="modal" class="btn btn-danger">الغاء</a>
    </div>
</div>