<section class="form-panel">
    <div class="form-header">
      <h2 class="form-title">بيانات تحديث البند الجمركي</h2>
      <div>
        <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="back-link">
          رجوع
          <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h48v48h-48z" fill="none"></path>
            <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666">
            </path>
          </svg>
        </a>
      </div>
    </div>
    <div class="form-body">
      <div class="col-md-6 mb-5">
        <label class="form-label">
          كم عدد المنتجات النشطة التي يتم إنتاجها؟​</label>
        <input type="text" class="form-control" value="5" />
      </div>
  
      <div>
  
        <app-list>
          <ng-template #header>
            <th>#</th>
            <th>حدد المنتجات النشطة</th>
            <th>
              المنتجات المسجلة في الترخيص الصناعي بالتصنيف الجمركي على
              مستوى 10
            </th>
            <th> التصنيف الجمركي على مستوى 12</th>
          </ng-template>
          <ng-template #body>
            <tr *ngFor="let product of products.Items let i=index">
              <td>{{i+1}}</td>
              <td>
                <div class="form-check">
                  <input [(ngModel)]="product.HasCustomLevel" class="form-check-input" type="checkbox" value="" id=""
                    (change)="handleCheckboxChange($event)" />
                </div>
              </td>
              <td> {{product.Id}}{{product.ProductName}}({{product.ItemNumber}})</td>
              <td>{{product.Hs12NameAr}}({{product.Hs12Code}})</td>
            </tr>
          </ng-template>
        </app-list>
        <app-pagination (changePage)="pageChanged($event)" [pageSize]="products.PageSize"
          [pageNumber]="products.PageNumber" [totalCount]="products.TotalCount"></app-pagination>
      </div>
    </div>
  </section>
  
