<section class="form-panel">
                <div class="form-header">
                    <h2 class="form-title">           بيانات كمية الإنتاج الفعلي والطاقة التصميمية ({{PeriodName}})   </h2>
                    
                    <div>
                        <a [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="back-link">
                            رجوع
                            <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
                        </a>
                    </div>
                </div>
                <div class="form-body">
                    <div class="col-md-12">
                        <h3>  بيانات كمية الإنتاج الفعلي والطاقة التصميمية  للمصنع</h3>
                    </div>

                  

                    <ul class="list-review factory-lines p-0">
                        <li *ngFor="let product of products let i=index">
                            
                            <h4>المنتج رقم {{i+1}} ({{product.ProductName}})</h4>
                            
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="form-label">   الطاقة التصميمة الشهرية  </label>
                                            <div class="input-group">                                                  
                                                <input type="number" class="form-control" [(ngModel)]="product.DesignedCapacity" disabled>
                                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled="" style="max-width: 50px;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            
                                                <label class="form-label"> هل الطاقة التصميمة الشهرية صحيحة ؟</label>
                                                <select class="form-select" [(ngModel)]="product.IsDesignedCapacityCorrect" (change)="onInputChange($event)">
                                                    <option [ngValue]="true" >نعم</option>
                                                    <option [ngValue]="false">لا</option>
                                                </select>
                                            

                                        </div>
                                        <div class="col-md-4" *ngIf="product.IsDesignedCapacityCorrect == false">
                                            
                                                <label class="form-label"> أدخل  الطاقة التصميمة الشهرية الصحيحة </label>
                                                <div class="input-group">    
                                                    <input type="text" class="form-control"  [(ngModel)]="product.CorrectDesignedCapacity">
                                                    <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                                </div>
                                            
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="form-label">   الإنتاج الفعلي​ الشهري	</label>
                                            <div class="input-group">                                                  
                                                <input type="number" class="form-control" [(ngModel)]="product.ActualProduction" disabled>
                                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            
                                                <label class="form-label"> هل الإنتاج الفعلي​ الشهري صحيح ؟</label>
                                                <select class="form-select" [(ngModel)]="product.IsActualProductionCorrect" (change)="onInputChange($event)">
                                                    <option [ngValue]="true" >نعم</option>
                                                    <option [ngValue]="false">لا</option>
                                                </select>
                                            

                                        </div>
                                        <div class="col-md-4"  *ngIf="product.IsActualProductionCorrect == false">
                                            
                                                <label class="form-label">أدخل   الإنتاج الفعلي​ الشهري الصحيح </label>
                                                <div class="input-group">    
                                                    <input type="text" class="form-control" [(ngModel)]="product.CorrectActualProduction">
                                                    <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                                </div>
                                               
                                        </div>

                                    </div>
                                 </div>
                               <div class="col-md-12">
                               <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">الوزن الفعلي​</label>
                                    <div class="input-group">                                                  
                                        <input type="number" class="form-control" value="{{product.ActualProductionWeight*product.ActualProduction}}" disabled>
                                        <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                               
                                    </div>

                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4" *ngIf="product.IsActualProductionCorrect == false">
                                    <label class="form-label"> الوزن الفعلي​ الصحيح</label>
                                    <div class="input-group">                                                  
                                        <input type="number" class="form-control" value="{{product.ActualProductionWeight*product.CorrectActualProduction}}" disabled>
                                        <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                               
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                   
                 
                        
                       
                        
                       
                    </ul>
           

                    
                    <div class="col-md-12 mt-3">
                        <h3> زيادة الإنتاج الفعلي عن الطاقة التصميمية </h3>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <label class="form-label">   ما هو سبب زيادة الإنتاج الفعلي عن الطاقة التصميمية؟
                            </label>
                            <select name="ReasonId" (change)="save()" class="form-select" [(ngModel)]="products[0].IncreaseReasonId" disabled>
                                <option [ngValue]="null"></option>
                                <option *ngFor="let reason of Allreasons" [ngValue]="reason.Id">{{reason.Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">

                            
                                <label class="form-label" > هل سبب الزيادة صحيح ؟</label>
                                <select class="form-select" (change)="onInputChange($event)" [(ngModel)]="products[0].IsIncreaseReasonCorrect">
                                    <option [ngValue]="true" selected>نعم</option>
                                    <option [ngValue]="false">لا</option>
                                </select>
                            

                        </div>
                        <div class="col-md-4" *ngIf="products[0].IsIncreaseReasonCorrect== false">
                            
                                <label class="form-label">أختر   سبب زيادة الإنتاج الفعلي الصحيح </label>
                                <select class="form-select" [(ngModel)]="products[0].IncreaseReasonCorrect">
                                    <option [ngValue]="1">شراء معدات جديدة</option>
                                    <option [ngValue]="2">زيادة خطوط الإنتاج</option>
                                    <option [ngValue]="3">زيادة  العمالة</option>
                                </select>
                                
                            
                        </div>

                    </div>

                    <div class="col-md-12">
                        <label class="form-label"> تعليقات </label>
                        <textarea  rows="3" class="form-control" [(ngModel)]="products[0].Comments"></textarea>
                    </div>

                      
        <app-actual-production-and-designed-capacity-file [factoryId]="factoryId" [periodId]="periodId"></app-actual-production-and-designed-capacity-file>
   

                </div>
                <div class="form-footer">
                    <div class="col-12">
                        <button class="btn btn-primary me-1" type="submit" (click)="save()">حفظ</button>
                        <a href="" class="btn btn-danger">الغاء</a>
                    </div>
                </div>
            </section>