<section class="form-panel">
    <form #actualProduction="ngForm" (ngSubmit)="save()">
                <div class="form-header">
                    <h2 class="form-title">           بيانات كمية الإنتاج الفعلي والطاقة التصميمية  لشهر {{PeriodName}}  </h2>
                    
                    <div>
                        <a [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="back-link">
                            رجوع
                            <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" style="fill: #666;"></path></svg>
                        </a>
                    </div>
                </div>
                <div class="form-body">
                    <div class="col-md-12">
                        <h3>  بيانات كمية الإنتاج الفعلي والطاقة التصميمية  للمصنع</h3>
                    </div>

                  

                    <ul class="list-review factory-lines p-0">
                        <li *ngFor="let product of products let i=index">
                            
                            <h4>المنتج رقم {{i+1}} ({{product.ProductName}})</h4>
                            
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="form-label">   الطاقة التصميمة الشهرية  </label>
                                            <div class="input-group">                                                  
                                                <input type="number" name="DesignedCapacity{{i+1}}"
                                                 class="form-control" [(ngModel)]="product.DesignedCapacity" disabled>
                                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled="" style="max-width: 50px;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            
                                                <label class="form-label"> هل الطاقة التصميمة الشهرية صحيحة ؟</label>
                                                <select class="form-select" 
                                                name="IsDesignedCapacityCorrect{{i+1}}" [(ngModel)]="product.IsDesignedCapacityCorrect" (change)="onInputChange($event)">
                                                    <option [ngValue]="true" >نعم</option>
                                                    <option [ngValue]="false">لا</option>
                                                </select>
                                            

                                        </div>
                                        <div class="col-md-4" *ngIf="product.IsDesignedCapacityCorrect == false">
                                            
                                                <label class="form-label"> أدخل  الطاقة التصميمة الشهرية الصحيحة 
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="input-group">
                                                    <input  type="number" min="1" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"
                                                    name="CorrectDesignedCapacity{{i+1}}" class="form-control"
                                                     [(ngModel)]="product.CorrectDesignedCapacity"
                                                    #CorrectDesignedCapacity="ngModel" required>
                                                    <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                                </div>
                                                <div *ngIf="CorrectDesignedCapacity.invalid && (CorrectDesignedCapacity.dirty || CorrectDesignedCapacity.touched)"
                                            class="validation-error">
                                            <div *ngIf="CorrectDesignedCapacity.errors?.['required']">الرجاء إدخال قيمة الطاقة التصميمة القصوى</div>
                                            <div *ngIf="CorrectDesignedCapacity.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                                            <div *ngIf="CorrectDesignedCapacity.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>
                                               
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="form-label">   الإنتاج الفعلي​ الشهري	</label>
                                            <div class="input-group">                                                  
                                                <input type="number" name="ActualProduction{{i+1}}"
                                                class="form-control" [(ngModel)]="product.ActualProduction" disabled>
                                                <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            
                                                <label class="form-label"> هل الإنتاج الفعلي​ الشهري صحيح ؟</label>
                                                <select class="form-select" 
                                                name="IsActualProductionCorrect{{i+1}}"
                                                [(ngModel)]="product.IsActualProductionCorrect" (change)="onInputChange($event)">
                                                    <option [ngValue]="true" >نعم</option>
                                                    <option [ngValue]="false">لا</option>
                                                </select>
                                            

                                        </div>
                                        <div class="col-md-4"  *ngIf="product.IsActualProductionCorrect == false">
                                            
                                                <label class="form-label">أدخل   الإنتاج الفعلي​ الشهري الصحيح 
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="input-group">    
                                                    <input  type="number" min="1" pattern="[0-9]+([\.,][0-9]{1,3})?" step="0.01" onkeypress="return (!(event.charCode !=46 && event.charCode >31 && (event.charCode < 48 || event.charCode > 57)))"
                                                     name="CorrectActualProduction{{i+1}}" class="form-control"
                                                     class="form-control" [(ngModel)]="product.CorrectActualProduction"
                                                     #CorrectActualProduction="ngModel" required>
                                                    <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                                </div>
                                            <div *ngIf="CorrectActualProduction.invalid && (CorrectActualProduction.dirty || CorrectActualProduction.touched)"
                                            class="validation-error">
                                            <div *ngIf="CorrectActualProduction.errors?.['required']">الرجاء إدخال قيمة الإنتاج الفعلي   </div>
                                            <div *ngIf="CorrectActualProduction.errors?.['min']" >الرجاء إدخال رقم أكبر من 0   </div>
                                            <div *ngIf="CorrectActualProduction.errors?.['pattern']" >الرجاء إدخال رقم  صحيح   </div>
                                          </div>
                                               
                                        </div>

                                    </div>
                                 </div>
                               <div class="col-md-12">
                               <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">الوزن الفعلي​</label>
                                    <div class="input-group">                                                  
                                        <input type="number" name="ActualProductionWeight{{i+1}}"
                                         class="form-control" value="{{product.ActualProductionWeight*product.ActualProduction}}" disabled>
                                        <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                               
                                    </div>

                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4" *ngIf="product.IsActualProductionCorrect == false">
                                    <label class="form-label"> الوزن الفعلي​ الصحيح</label>
                                    <div class="input-group">                                                  
                                        <input type="number"
                                        name="CorrectActualProduction{{i+1}}"
                                         class="form-control" value="{{product.ActualProductionWeight*product.CorrectActualProduction}}" disabled>
                                        <input type="text" class="form-control px-1 text-center" value="كغ" disabled style="max-width: 50px;">
                                               
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                   
                 
                        
                       
                        
                       
                    </ul>
           

                    
                    <div *ngIf="this.reasonProduct!=0" class="row" class="col-md-12 mt-3">
                        <h3> زيادة الإنتاج الفعلي عن الطاقة التصميمية </h3>
                    </div>

                    <div *ngIf="this.reasonProduct!=0" class="row" >

                        <div class="col-md-4">
                            <label class="form-label">   سبب زيادة الإنتاج الفعلي عن الطاقة التصميمية؟
                            </label>
                            <select name="ReasonId"  class="form-select" [(ngModel)]="products[0].IncreaseReasonId" disabled>
                                <option [ngValue]="null"></option>
                                <option *ngFor="let reason of Allreasons" [ngValue]="reason.Id">{{reason.Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">

                            
                                <label class="form-label" > هل سبب الزيادة صحيح ؟</label>
                                <select class="form-select" 
                                name="IsIncreaseReasonCorrect"
                                (change)="onInputChange($event)" [(ngModel)]="products[0].IsIncreaseReasonCorrect">
                                    <option [ngValue]="true" selected>نعم</option>
                                    <option [ngValue]="false">لا</option>
                                </select>
                            

                        </div>
                        <div class="col-md-4" *ngIf="products[0].IsIncreaseReasonCorrect== false">
                            
                                <label class="form-label">أختر   سبب زيادة الإنتاج الفعلي الصحيح 
                                    <span class="required">*</span>
                                </label>

                                <select name="IncreaseReasonCorrect"
                                 (change)="changereason()" class="form-select" [(ngModel)]="products[0].IncreaseReasonCorrect">
                                    <option *ngFor="let reason of Allreasons" [ngValue]="reason.Id">{{reason.Name}}</option>
                                </select>
                                <div class="text-danger" *ngIf="(products[0].IncreaseReasonCorrect==0||products[0].IncreaseReasonCorrect==null)">
                                    الرجاء إختيار سبب زيادة الإنتاج الفعلي الصحيح
                                    {{ NotValid() }}
                       
                                </div>
                                <!--<select  name="IncreaseReasonCorrect"
                                class="form-select" [(ngModel)]="products[0].IncreaseReasonCorrect">
                                    <option [ngValue]="1">شراء معدات جديدة</option>
                                    <option [ngValue]="2">زيادة خطوط الإنتاج</option>
                                    <option [ngValue]="3">زيادة  العمالة</option>
                                    <option [ngValue]="4">أخرى  </option>
                                  
                                </select>-->
                                
                            
                        </div>

                    </div>

                    <div class="col-md-12">
                        <label class="form-label"> تعليقات </label>
                        <textarea  rows="3" name="Comments"
                        class="form-control" [(ngModel)]="products[0].Comments"></textarea>
                    </div>

                    
                </div>
                <div class="form-footer">
                    <div class="col-12">
                        <button class="btn btn-primary me-1" type="submit" [disabled]="actualProduction.invalid">حفظ</button>
                        <a  [routerLink]="'/pages/Inspector/visit-landing/'+factoryId+'/'+periodId" class="btn btn-danger">الغاء</a>
                    </div>
                </div>
            </form>
            </section>