<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> موقع المصنع </h2>
        <div>
            <a routerLink="/pages/factory-landing" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">

        <div class="row">

            <div class="col-md-6">
                <label class="form-label"> الجهة التي يتبع لها المصنع​</label>
                <select class="form-select">
                    <option> الخرج</option>
                    <option> الرياض </option>
                    <option>الهيئة الملكية بالجبيل وينبع</option>
                    <option>وزارة الشؤون البلدية والقروية</option>
                    <option>أخرى</option>

                </select>
            </div>

            <div class="col-md-6">
                <label class="form-label"> المدينة</label>
                <select class="form-select">
                    <option> الخرج</option>
                    <option> الرياض </option>
                    <option> مكة</option>
                    <option>المدينة المنورة</option>
                    <option>جدة</option>
                </select>
            </div>



        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label"> المنطقة الصناعية</label>
                <select class="form-select">
                    <option> المدينة الصناعية بالخرج</option>
                    <option>المدينة الصناعية بالرياض </option>
                    <option>المدينة الصناعية بمكة</option>
                    <option> المدينة الصناعية يالمدينة المنورة</option>
                    <option> المدينة الصناعية بجدة</option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="form-label"> رابط موقع المصنع</label>
                <input type="url" class="form-control " placeholder="https://googl/maps/123">
            </div>


        </div>


        <div class="col-md-12 mt-3">
            <h3> إرفاق المستندات الداعمة </h3>
        </div>

        <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
            <strong><span class="d-block mb-2">الرجاء إرفاق المستندات الداعمة التالية:</span></strong>
            <ul>
                <!-- <li>العنوان الوطني للمصنع</li> -->

                <li> صورة مدخل المصنع </li>

                <!-- <li>   فاتورة الماء أو الكهرباء </li> -->

            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>



        <div class="row">


            <div class="col-md-6">
                <label class="form-label"> اسم المستند</label>
                <select name="" id="" class="form-select">
                    <option value="">صورة مدخل المصنع </option>

                </select>
            </div>

            <div class="col-md-6">
                <label class="form-label">رفع المستند </label>
                <div class="input-group">
                    <input type="file" class="form-control" placeholder="" value="">
                    <button class="btn btn-primary" type="button">اضافة </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-small-header">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> اسم المستند </th>
                        <th>امتداد المستند</th>
                        <th style="min-width: 140px">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td> صورة مدخل المصنع </td>
                        <td>JPG</td>
                        <td>
                            <a href="#" class="btn btn-primary mx-1" data-bs-toggle="modal"
                                data-bs-target="#photoModal">
                                عرض

                            </a>
                            <a href="" class="btn btn-danger">حذف</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" type="submit">حفظ</button>
            <a href="" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>


<!-- Modal photos-->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> عرض الصورة </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="assets/images/factory.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>