<section class="form-panel">
    <div class="form-header">
        <h2 class="form-title"> موقع المصنع لشهر {{PeriodName}}</h2>
        <div>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="back-link">
                رجوع
                <svg height="25" viewBox="0 0 48 48" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h48v48h-48z" fill="none"></path>
                    <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"
                        style="fill: #666;"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="mb-4 alert alert-fui  alert-dismissible fade show" role="alert">
            <P>
            في حال كان المصنع خارج نطاق اي منطقة صناعية ، يتم تحديد خيار (أخرى) في كل من قائمة الجهة التي يتبع لها المصنع 
            وقائمة المدينة ومن ثم اختيار خيار (خارج نطاق المدن الصناعية ) من قائمة المنطقة الصناعية.    
            </div>
        <div class="row">

            <div class="col-md-6">
                <label class="form-label"> الجهة التي يتبع لها المصنع​<span class="required">*</span></label>
                <select class="form-select" #FactoryEntityId="ngModel" required 
                name="FactoryEntityId" [(ngModel)]="request.FactoryEntityId" (change)="onEntitySelect(request.FactoryEntityId)">
                    <option *ngFor="let factoryEntity of factoryEntities" [ngValue]="factoryEntity.Id">{{factoryEntity.NameAr}} </option>
                </select>
                <div *ngIf="FactoryEntityId.invalid && (FactoryEntityId.dirty || FactoryEntityId.touched)" class="validation-error">
                    <div *ngIf="FactoryEntityId.errors?.['required']">حقل  مطلوب</div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="form-label"> المدينة<span class="required">*</span></label>
                <select class="form-select" #CityId="ngModel" required  
                name="CityId" [(ngModel)]="request.CityId" (change)="onCitySelect(request.CityId)">
                    <option *ngFor="let city of cities" [ngValue]="city.Id">{{city.NameAr}} </option>

                </select>
                <div *ngIf="CityId.invalid && (CityId.dirty || CityId.touched)" class="validation-error">
                    <div *ngIf="CityId.errors?.['required']">حقل مطلوب</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label"> المنطقة الصناعية<span class="required">*</span></label>
                <select class="form-select" name="IndustrialAreaId" 
                [(ngModel)]="request.IndustrialAreaId" >
                    <option *ngFor="let industrialArea of industrialAreas" [ngValue]="industrialArea.Id" >{{industrialArea.NameAr}} </option>
                </select>
            </div>

            <div class="col-md-6">
               
                <label class="form-label" placement="left" title="" tooltip=" يتم نسخ رابط موقع المصنع من تطبيقGoogle maps ولصقه في الحقل"> رابط موقع المصنع
                    <span class="required">*</span>
                    <i>؟</i>
                </label>
                <input type="url" #WebSite="ngModel" required class="form-control " [(ngModel)]="request.WebSite" placeholder="https://googl/maps/123">
                <div *ngIf="WebSite.invalid && (WebSite.dirty || WebSite.touched)" class="validation-error">
                    <div *ngIf="WebSite.errors?.['required']">حقل مطلوب</div>
                </div>
            </div>


        </div>

        <app-location-file [factoryLocationId]="request.Id"></app-location-file>

    </div>
    <div class="form-footer">
        <div class="col-12">
            <button class="btn btn-primary me-1" (click)="save()">حفظ</button>
            <a [routerLink]="'/pages/factory-landing/'+factoryId+'/'+periodId" class="btn btn-danger">الغاء</a>
        </div>
    </div>
</section>


