<div class="form-panel">
    <div class="form-header">
        <h2 class="form-title">رخصى الصناعية</h2>
        <a routerLink="/pages/factories-list" class="btn btn-default">تحديث البيانات</a>
    </div>
    <div class="form-body row">
        <ul class="d-flex license">
            <li class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let factory of factories.Items">
                <div class="license-container">
                    <a routerLink="/pages/factory-landing">
                        <div class="license-info">
                            <div>

                                <p>
                                    <span class="fw-bold m-1">اسم المصنع :</span>
                                    <span>{{factory.NameAr}}</span>
                                </p>
                                <p>
                                    <span class="fw-bold m-1">السجل التجاري:</span>
                                    <span>{{factory.CommercialRegister}}</span>
                                </p>
                                <p>
                                    <span class="fw-bold m-1">المدينة:</span>
                                    <span>{{factory.NameAr}}</span>
                                </p>

                            </div>
                            <div><img src="assets/images/logo-min.png" alt=""></div>
                        </div>
                        <div class="license-footer">
                            <span class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                    role="img" aria-label="Warning:">
                                    <path
                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                    </path>
                                </svg>
                                لم يتم التحديث</span>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <app-pagination (changePage)="pageChanged($event)" [pageSize]="factories.PageSize"
        [pageNumber]="factories.PageNumber" [totalCount]="factories.TotalCount"></app-pagination>
    </div>


</div>